<div class="content_sexy">
	<div class="content-wrap">
		<div class="content bg1" style="background:#222;">
			<section class="author" style="background-color: #111;padding-top:56px;">
				<div class="container no-padding">
					<div class="row no-padding">
						<div id="loader-wrapper">
							<i class="fa fa-camera" style="position:absolute; top:44%; color:#c32a51; left:34%; font-size:7.5em; "></i>
							<div id="loader" style="left:22%;"></div>
						</div>
						<div class="col-md-12" style="padding-top:26px; padding-left:25px;" id="add_photo_form">
							<center><h2 class="text-center" style="color:#f0f0f0;"><?php echo $lang['menu_add_photos']; ?></h2>
							<div id="error_div"></div>   
							<div id="photos">  	              
							<div class="quickView member" data-plugin="quickView">
								<div class="gallery" >
									<a class="hint--bottom" data-hint="<?php echo $lang['upload_photo']; ?>" href="javascript:void(0)">
									<i class="fa fa-camera" id="preview_image" style="font-size:8em; color:#f0f0f0; text-align:center;" ></i></a>
								</div>										   
							</div></center>
							<ul class="gallery square-thumb">
								<?php echo getUserPhotosMobile($sm['user']['id'],0); ?>	
							</ul>							
							</div>
						</div>
					</div>
				</div>
			</section>
		</div><!-- /content-wrap -->
	</div><!-- /container -->
	<form enctype="multipart/form-data" name='imageform' role="form" id="add_photos" method="post" action="<?php echo $sm['config']['site_url']; ?>/assets/sources/ajaxImage.php">                  
	<input type="file" name="photos[]" id="photoimg" multiple="true" />
	</form> 
</div>