<?php if(empty($sm['user']['age']) || empty($sm['user']['lat'])) { ?>
	<div style="width:100%;text-align:center;padding-top:60px;font-size:1.5em;line-height:50px;background-color:#da0038;color:#FFF;">
	<strong>Please fill all the required information for use <?php echo $sm['config']['site_name']; ?></strong></div>						
<?php } ?>	
<section class="author" style="background-color: #111; min-height:630px;">
  <div class="container">
    <div class="row">                    
        <div class="col-md-12" style="padding-top:26px; padding-left:25px;padding-right:25px;">	
		<h3 class="text-center" style="color:#f0f0f0;"><?php echo $lang['required_info']; ?></h3>
			<form class="form-horizontal" id="update" method="post">          
			  <div class="form-group">
				<label class="col-sm-2 control-label"><?php echo $lang['form_name']; ?>:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="nickname" value="<?php echo $sm['user']['name']; ?>" required>  
					<input  style="display:none;" name="uid" type="hidden" value="<?php echo $sm['user']['id']; ?>"> 						
				</div>
			  </div>
			  
			  <div class="form-group">
				<label class="col-sm-2 control-label"><?php echo $lang['form_email']; ?>:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="email" value="<?php echo $sm['user']['email']; ?>" required>     
				</div>
			  </div>
			  
			  <div class="form-group">
				<label class="col-sm-2 control-label"><?php echo $lang['form_city']; ?>:</label>
				<div class="col-sm-10">
				 <input type="text" class="form-control" name="city" id="geo" value="<?php echo $sm['user']['loc']; ?>"  required>
				 <input  style="display:none;" name="lat" type="hidden" value="<?php echo $sm['user']['lat']; ?>">                         
				 <input  style="display:none;" name="lng" type="hidden" value="<?php echo $sm['user']['lng']; ?>"> 
				 <input  style="display:none;" name="formatted_address" type="hidden" value="<?php echo $sm['user']['loc']; ?>">                                           
				</div>
			  </div>  
			  
			  <div class="form-group">
				<label class="col-sm-2 control-label"><?php echo $lang['form_age']; ?>:</label>
				<div class="col-sm-10">
				  <input type="text" class="form-control"  min="18" max="99" maxlength="2" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="age" value="<?php echo $sm['user']['age']; ?>" required>      
				</div>
			  </div> 
			  
			  <div class="form-group">
				<label class="col-sm-2 control-label"><?php echo $lang['form_gender']; ?>:</label>
				<div class="col-sm-10">
				  <select  class="form-control" name="gender"  >
				  <?php if ($sm['user']['gender'] == 1)
				  {
					  echo'<option value="1">'.$lang['form_gender_male'].'</option>';
					  echo'<option value="0">'.$lang['form_gender_female'].'</option>';
				  }
				  else
				  {
					  echo'<option value="0">'.$lang['form_gender_female'].'</option>';
					  echo'<option value="1">'.$lang['form_gender_male'].'</option>';
					  
				  }
				  ?>                  
				  </select>     
				</div>
			  </div> 
								
			  <div class="form-group">
				<label class="col-sm-2 control-label"><?php echo $lang['form_bio']; ?>:</label>
				<div class="col-sm-10">
				  <textarea type="text" class="form-control" name="bio" required><?php echo $sm['user']['bio']; ?></textarea>    
				</div>
			  </div>
			  <hr>
			  <div class="form-group">
				<label class="col-sm-2 control-label"><?php echo $lang['form_looking']; ?>:</label>
				<div class="col-sm-10">
				  <select  class="form-control" name="looking"  >
				  <?php if ($sm['user']['looking'] == 1)
				  {
					  echo'<option value="1">'.$lang['form_looking_boys'].'</option>';
					  echo'<option value="0">'.$lang['form_looking_girls'].'</option>';
				  }
				  else
				  {
					  echo'<option value="0">'.$lang['form_looking_girls'].'</option>';
					  echo'<option value="1">'.$lang['form_looking_boys'].'</option>';
					  
				  }
				  ?>
				  </select>
					
				</div>
			  </div>   
			  <hr>                      
			  <div class="form-group">
				<div class="col-sm-offset-3 col-sm-9">
				  <button type="submit" class="btn btn-2 center-button" style="width:50%;" id="upd_btn"><?php echo $lang['upd_btn']; ?></button>
				</div>
			  </div>
			</form>
        </div>       
    </div>
  </div>
</section>
