<?php getUserSocials($sm['user']['id']); ?>
<div class="content_sexy">

    <div class="content-wrap">
    <div class="content bg1" style="background:#222;">
    
      <div class="container no-padding">
         <div class="row no-padding ">    
            <div class="menuzord">
                    <a href="<?php echo smoothLink('index.php?page=game'); ?>" class="logo"><img src="<?php echo $sm['config']['theme_url']; ?>/img/logo.png" width="290"></a>
                    <ul class="menuzord-menu">
                    <li ><a href="<?php echo smoothLink('index.php?page=game'); ?>" id="buscar"><i class="fa fa-star"></i> Sexy</a></li>
                    <li ><a href="<?php echo smoothLink('index.php?page=meet'); ?>"><i class="fa fa-globe"></i> Meet</a></li>   
                    <li ><a href="<?php echo smoothLink('index.php?page=chat'); ?>" id="mensajes_nuevos_icon" > <i class="fa fa-comment-o" ></i> Chat 
                    <span id="mensajes_nuevos"></span></a></li>
                    <li ><a href="<?php echo smoothLink('index.php?page=crushes'); ?>" id="likes_nuevos_icon"> <i class="fa fa-heart-o" ></i> Crushes 
                    <span id="likes_nuevos"></span></a></li>
                    <li class="active"><a href="<?php echo smoothLink('index.php?page=settings'); ?>"><i class="fa fa-cog"></i> Settings</a></li>
                    </ul>
            </div>
        </div>
     </div>

            
<section class="author" style="background-color: #111;">
  <div class="container no-padding">

    <div class="row no-padding">        
 
		<div class="col-md-2" style="padding-top:26px;">
            <div class="640-content text-center">
                    <div id="my_sexymetro" class="my_sexymetro_chart"></div>
                    <p class="my_sexymetro_span"><?php echo $sm['user']['sexymetro']; ?></p>
                    <img src="<?php echo $sm['user']['photo_small']; ?>" class="img-circle" style="overflow:hidden; height:122px; width:122px;">
                    <h4 style="padding-top:10px;"><?php echo $sm['user']['name']; ?> </h4></center>
            </div>
   	 
            <nav class="menu-side" style="width:100%;">
                <a href="<?php echo smoothLink('index.php?page=settings'); ?>"  style="color:#999;"><i class="fa fa-fw fa-gear"></i>&nbsp;Preferences</a>               
                <a href="<?php echo smoothLink('index.php?page=add_photos'); ?>" style="color:#999;" ><i class="fa fa-fw fa-camera" ></i>&nbsp;Add Photos </a> 
                <a href="<?php echo smoothLink('index.php?page=socials'); ?>" ><i class="fa fa-fw fa-facebook-square" ></i>&nbsp;Socials </a>                  
                <a href="<?php echo smoothLink('index.php?page=change_password'); ?>" style="color:#999;" ><i class="fa fa-fw fa-lock" ></i>&nbsp;Change password </a> 
                <a href="<?php echo smoothLink('index.php?page=logout'); ?>" style="color:#999;"><i class="fa fa-fw fa-power-off" ></i>&nbsp;Logout </a>        
            </nav>
    	 </div> 
            
        <div class="col-md-8" style="padding-top:26px; padding-left:25px;">	
		<h3 class="text-center" style="color:#f0f0f0;">Optional Information</h3>
                <form class="form-horizontal" id="socials" method="post">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Facebook:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="facebook" value="<?php echo $sm['user']['facebook']; ?>" >     
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Twitter:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="twitter" value="<?php echo $sm['user']['twitter']; ?>">     
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Skype:</label>
                    <div class="col-sm-10">
                     <input type="text" class="form-control" name="skype" value="<?php echo $sm['user']['skype']; ?>">  
                     </div>
                  </div>  
                  
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Whatsapp:</label>
                    <div class="col-sm-10">
                     <input type="text" class="form-control" name="whatsapp" value="<?php echo $sm['user']['whatsapp']; ?>"  >  
                     </div>
                  </div>                                                                 
                
                  <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                      <button type="submit" class="btn btn-1" id="upd_socials">Update socials</button>
                    </div>
                  </div>
                </form>

        </div>
       
       
    </div>
  </div>
</section>


			</div><!-- /content-wrap -->
		</div><!-- /container -->


</div>