
		<?php 
  		if($sm['user_photos']['status'] == 2)
  		{
  			echo'<li><a class="swipebox" href="#'.$sm['user_photos']['id'].'">													
  				 <img  src="'.$sm['user_photos']['thumb'].'"/></a>
  				 <i class="fa fa-fw fa-ban" style="font-size:1.6em;" ></i>
  				 <i class="fa fa-fw fa-trash-o" style="font-size:1.6em;"  id="delete'.$sm['user_photos']['id'].'"
  				 title="'.$sm['user_photos']['id'].'"></i></li>';	
  		}
  		else if($sm['user_photos']['status'] == 0) 
  		{
  			echo'<li><a class="swipebox" href="#'.$sm['user_photos']['id'].'">													
  				 <img  src="'.$sm['user_photos']['thumb'].'"/></a>
  				 <i class="fa fa-fw fa-clock-o" style="font-size:1.6em;" ></i>
  				 <i class="fa fa-fw fa-trash-o" style="font-size:1.6em;"  id="delete'.$sm['user_photos']['id'].'"
  				 title="'.$sm['user_photos']['id'].'"></i></li>';										
  		}
  		else
  		{
  			echo'<li><a class="swipebox" href="#'.$sm['user_photos']['id'].'">													
  				 <img  src="'.$sm['user_photos']['thumb'].'"/></a>
  				 <i class="fa fa-fw fa-camera" style="font-size:1.6em;" id="prof_mobile'.$sm['user_photos']['id'].'" title="'.$sm['user_photos']['id'].'"></i>
  				 <i class="fa fa-fw fa-trash-o" style="font-size:1.6em;"  id="del_mobile'.$sm['user_photos']['id'].'"
  				 title="'.$sm['user_photos']['id'].'"></i></li>';
  			
  		}
    ?>
