    <div class="perspective_container"><!--the "moving to the left" content box-->
        <div class="wrapper"><!-- wrapper needed for scroll -->
         	<div class="header-clear"><i class="fa fa-times"></i></div>
            <div class="content-strip" id="galleria" style="max-height:100%;"></div>
			<div class="footer">
				<div id="sexy_yes"><button class="btn btn-2 btn-2g" onClick="sexy_yes_mobile(<?php echo $sm['user']['id']; ?>)" ><?php echo $lang['yes']; ?></button></div>
				<span id="name"></span>
				<div id="sexy_no"><button class="btn btn-2 btn-2gg" onClick="sexy_no_mobile(<?php echo $sm['user']['id']; ?>)"><?php echo $lang['no']; ?></button></div>
			</div> 	         
        </div><!-- wrapper -->
    </div><!-- /perspective container -->
<!-- /CHAT CONTENT -->

