<!DOCTYPE html>
<html>
<head>
<title><?php echo $sm['config']['site_title']; ?></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui"/>	
<link href="<?php echo $sm['config']['theme_url']; ?>/css/styles.min.css" rel="stylesheet">
<link href="<?php echo $sm['config']['theme_url']; ?>/css/main.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/normalize.css" />
<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/menu_sideslide.css" />
<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/ns-default.css" />
<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/ns-style-other.css" />
<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/menuzord.css">
<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/menuzord-dark.css">    
<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/component.css" />
<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/sweet-alert.css">
<link href="<?php echo $sm['config']['theme_url']; ?>/css/owl.carousel.css" rel="stylesheet">
<link href="<?php echo $sm['config']['theme_url']; ?>/css/owl.theme.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css">
</head>
<body>
<div class="content_sexy">
	<div class="content-wrap">
		<div class="connect_facebook">
			<a href="<?php echo smoothLink('index.php?page=fbconnect'); ?>" style="color:#FFF;"><strong><i class="fa fa-facebook-square"></i> <?php echo $lang['connect_facebook']; ?></strong></a>
		</div> 
		<section class="author" style="background-color: #111;">
		  <div class="container">
			<div class="row">          
				<div class="col-md-12" style="padding-top:26px;padding-left:20px; padding-right:20px;">	
				<center><a href="<?php echo smoothLink('mobile.php?page=preview'); ?>"><img src="<?php echo $sm['config']['theme_url']; ?>/img/logo.png"></a></center><br>       
					<form class="form-horizontal" id="register" method="post">
					  <div class="form-group">
							<input type="text" class="form-control" name="nickname" placeholder="<?php echo $lang['form_name']; ?>" required>     
					  </div>
					  <div class="form-group">
							<input type="email" class="form-control" name="email" placeholder="<?php echo $lang['form_email']; ?>" required>     
					  </div>
					  <div class="form-group">
							<input type="password" class="form-control" name="pass" placeholder="<?php echo $lang['form_password']; ?>" required>     
					  </div>                  
					  
					  <div class="form-group">
						 <input type="text" class="form-control" id="geo" name="city"  placeholder="<?php echo $lang['form_city']; ?>" required> 
						 <input  style="display:none;" name="lat" type="hidden" value="">                         
						 <input  style="display:none;" name="lng" type="hidden" value=""> 
						 <input  style="display:none;" name="formatted_address" type="hidden" value="">                        
					  </div>  
					  
					  <div class="form-group">
						<input type="text" class="form-control"  min="18" max="99" placeholder="<?php echo $lang['form_age']; ?>" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="age"required>         
						</div>
					  </div> 
					  <div class="form-group" style="padding-left:5px;padding-right:5px;">
						  <select  class="form-control" name="gender" placeholder="<?php echo $lang['form_gender']; ?>"  >
						  <option value="1"><?php echo $lang['form_gender_male']; ?></option>
						  <option value="0"><?php echo $lang['form_gender_female']; ?></option>                      
						  </select>    
					  </div> 
										
					  <div class="form-group" style="padding-left:5px;padding-right:5px;">
						  <textarea type="text" class="form-control" name="bio" required></textarea>    
					  </div>
					  
					  <div class="form-group" style="padding-left:5px;padding-right:5px;">
						  <select name="looking"  class="form-control" placeholder="<?php echo $lang['form_looking']; ?>"  >
						  <option value="0"><?php echo $lang['form_looking_girls']; ?></option>
						  <option value="1"><?php echo $lang['form_looking_boys']; ?></option>                      
						  </select>    
					  </div>                        
					
					  <div class="form-group">
						  <button type="submit" class="btn btn-1" id="reg_btn"><?php echo $lang['form_create_account']; ?></button>
					  </div>
					</form>
				</div>      
			</div>
		  </div>
		</section>
		<div class="select_yes_or_no">
		<strong><?php echo $lang['join_us_message']; ?></strong></div>  
	</div><!-- /content-wrap -->
</div><!-- /container -->
</div>

<div style="display:none;"><audio id="noti_audio" src="noti.mp3" preload="auto"></audio></div>    
<script type="text/javascript" src="<?php echo $sm['config']['theme_url']; ?>/js/jquery-2.1.1.min.js"></script> <!-- JQUERY -->
<script src="<?php echo $sm['config']['theme_url']; ?>/js/owl.carousel.js"></script>
<script src="<?php echo $sm['config']['theme_url']; ?>/js/sweet-alert.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<script src="<?php echo $sm['config']['theme_url']; ?>/js/formmapper.js"></script>
<script>
$(function(){
$("#geo").formmapper({
  details: "form",
  markerOptions: {
	draggable: true
  }
});

});	
<!-- REGISTER FORM -->  	
$(function(){
	$('#register').submit(function(e) {
		e.preventDefault();
		var findme = "Error";
		$.ajax({
			data:  $(this).serialize(),
			url:   '<?php echo $sm['config']['site_url']; ?>/requests/register.php',
			type:  'post',
			beforeSend: function () {
				$("#reg_btn").html("<?php echo $lang['btn_working']; ?>");
			},			
			success:  function (response) {
				<!-- CHECK IF WRONG -->  	
				if ( response.indexOf(findme) > -1 ) 
				{
					swal({
						title: "Error!",
						text: response,
						type: "error",
					});	
					$("#reg_btn").html("<?php echo $lang['form_create_account']; ?>");
				}
				<!-- REDIRECT IF ALL OK -->  
				else
				{
					swal({
						title: "<?php echo $lang['register_ok_title']; ?>",
						text: "<?php echo $lang['register_ok_body']; ?>",
						type: "success",
						confirmButtonColor: '#da0038',
						confirmButtonText: '<?php echo $lang['register_ok_btn']; ?>',
						closeOnConfirm: false,
						closeOnCancel: false
					},
					function(isConfirm){
					if (isConfirm){
					 window.location='mobile.php?page=add_photos';
					}
					});
				}
			}
		});					
	});
});		
</script>  
</body>
</html>
