<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" /> 
<title><?php echo $sm['config']['site_title']; ?></title>
<link href="<?php echo $sm['config']['theme_url']; ?>/css/styles.min.css" rel="stylesheet">
<link href="<?php echo $sm['config']['theme_url']; ?>/css/main.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/normalize.css" />
<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/menu_sideslide.css" />
<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/ns-default.css" />
<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/ns-style-other.css" />
<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/menuzord.css">
<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/menuzord-dark.css">    
<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/component.css" />
<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/sweet-alert.css">
<link href="<?php echo $sm['config']['theme_url']; ?>/css/owl.carousel.css" rel="stylesheet">
<link href="<?php echo $sm['config']['theme_url']; ?>/css/owl.theme.css" rel="stylesheet">
<style>
#carousel .item{
	margin: 0px;
}
#carousel .item img{

	width: 100%;
	height: 180px;
}
</style>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css">
</head>
<body>
<div class="content_sexy">
	<div class="content-wrap">
		<div class="content bg1" style="background:#222;">
		
			<div class="container no-padding">
				<div class="row no-padding ">    
					<div class="menuzord">
						<a href="<?php echo smoothLink('index.php?page=preview'); ?>" class="logo"><img src="<?php echo $sm['config']['theme_url']; ?>/img/logo.png" width="290"></a>                    
						<ul class="menuzord-menu">
							<li ><a href="<?php echo smoothLink('index.php?page=preview'); ?>" ><i class="fa fa-star"></i> <?php echo $lang['menu_sexy']; ?></a></li>                                
							<li class="active"><a href="<?php echo smoothLink('index.php?page=account'); ?>" > <i class="fa fa-plus-square" ></i> <?php echo $lang['menu_create_account']; ?></a></li> 
							<li ><a href="<?php echo smoothLink('index.php?page=login'); ?>"><i class="fa fa-user"></i> <?php echo $lang['menu_login']; ?></a></li>                                                
						</ul>
					</div>
				</div>
			</div>
		<div id="carousel" class="owl-carousel">
			<?php loginRandPhotos(); ?>
		</div>  
		<div class="connect_facebook">
			<a href="<?php echo smoothLink('index.php?page=fbconnect'); ?>" style="color:#FFF;"><strong><i class="fa fa-facebook-square"></i> <?php echo $lang['connect_facebook']; ?></strong></a>
		</div> 
		<section class="author" style="background-color: #111;">
			<div class="container no-padding">
				<div class="row no-padding">        
					<div class="col-md-2" style="padding-top:26px;"></div>   
					<div class="col-md-8" style="padding-top:26px;background:url(<?php echo $sm['config']['theme_url']; ?>/pattern/0.jpg) repeat; padding-left:25px; padding-left:120px; padding-right:160px;">	
						<form class="form-horizontal" id="register" method="post">
							<div class="form-group">
								<label class="col-sm-2 control-label"><?php echo $lang['form_name']; ?>:</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" name="nickname" required>     
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label"><?php echo $lang['form_email']; ?>:</label>
								<div class="col-sm-10">
									<input type="email" class="form-control" name="email" required>     
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label"><?php echo $lang['form_password']; ?>:</label>
								<div class="col-sm-10">
									<input type="password" class="form-control" name="pass" required>     
								</div>
							</div>                  
							<div class="form-group">
								<label class="col-sm-2 control-label"><?php echo $lang['form_city']; ?>:</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="geo" name="city"  required> 
									<input  style="display:none;" name="lat" type="hidden" value="">                         
									<input  style="display:none;" name="lng" type="hidden" value=""> 
									<input  style="display:none;" name="formatted_address" type="hidden" value="">                        
								</div>
							</div>  
							<div class="form-group">
								<label class="col-sm-2 control-label"><?php echo $lang['form_age']; ?>:</label>
								<div class="col-sm-10">
									<input type="number" class="form-control"  min="18" max="99" name="age"required>         
								</div>
							</div> 
							<div class="form-group">
								<label class="col-sm-2 control-label"><?php echo $lang['form_gender']; ?>:</label>
								<div class="col-sm-10">
									<select  class="form-control" name="gender"  >
										<option value="1"><?php echo $lang['form_gender_male']; ?></option>
										<option value="0"><?php echo $lang['form_gender_female']; ?></option>                      
									</select>    
								</div>
							</div> 
							<div class="form-group">
								<label class="col-sm-2 control-label"><?php echo $lang['form_bio']; ?>:</label>
								<div class="col-sm-10">
									<textarea type="text" class="form-control" name="bio" required></textarea>    
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label"><?php echo $lang['form_looking']; ?>:</label>
								<div class="col-sm-10">
									<select name="looking"  class="form-control"  >
										<option value="0"><?php echo $lang['form_looking_girls']; ?></option>
										<option value="1"><?php echo $lang['form_looking_boys']; ?></option>                      
									</select>    
								</div>
							</div>                        
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button type="submit" class="btn btn-1" id="reg_btn"><?php echo $lang['form_create_account']; ?></button>
								</div>
							</div>
						</form>
					<div class="col-md-2" style="padding-top:26px;"></div>        
				</div>
			</div>	
		</section>
		<div class="select_yes_or_no">
			<strong><?php echo $lang['join_us_message']; ?></strong>
		</div> 
			<?php echo getPage('footer/content'); ?>		
	</div><!-- /content-wrap -->
</div><!-- /container -->
  
<script type="text/javascript" src="<?php echo $sm['config']['theme_url']; ?>/js/jquery-2.1.1.min.js"></script> <!-- JQUERY -->
<script src="<?php echo $sm['config']['theme_url']; ?>/js/owl.carousel.js"></script>
<script src="<?php echo $sm['config']['theme_url']; ?>/js/sweet-alert.js"></script>
<script src="<?php echo $sm['config']['theme_url']; ?>/js/scripts.min.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<script src="<?php echo $sm['config']['theme_url']; ?>/js/formmapper.js"></script>
<script>
$(function(){
	$("#geo").formmapper({
		details: "form",
		markerOptions: {
		draggable: true
		}
	});
});

<!-- CAROUSEL -->   
$(document).ready(function() {
	var owl = $('#carousel');
	owl.owlCarousel({
		items : 6,
		lazyLoad : true,
		loop:true,
		autoWidth:true,
		autoPlay : 2000,
		stopOnHover : true,
		itemsScaleUp:true ,
		pagination: false,
	});
});

<!-- REGISTER FORM -->  	
$(function(){
	$('#register').submit(function(e) {
		e.preventDefault();
		var findme = "Error";
		$.ajax({
			data:  $(this).serialize(),
			url:   '<?php echo $sm['config']['site_url']; ?>/requests/register.php',
			type:  'post',
			beforeSend: function () {
				$("#reg_btn").html("<?php echo $lang['btn_working']; ?>");
			},			
			success:  function (response) {
				<!-- CHECK IF WRONG -->  	
				if ( response.indexOf(findme) > -1 ) {
					swal({
						title: "Error!",
						text: response,
						type: "error",
					});	
					$("#reg_btn").html("<?php echo $lang['form_create_account']; ?>");
				} else {
					swal({
						title: "<?php echo $lang['register_ok_title']; ?>",
						text: "<?php echo $lang['register_ok_body']; ?>",
						type: "success",
						confirmButtonColor: '#da0038',
						confirmButtonText: '<?php echo $lang['register_ok_btn']; ?>',
						closeOnConfirm: false,
						closeOnCancel: false
					},
					function(isConfirm){
						if (isConfirm){
							window.location='index.php?page=add_photos';
						}
					});
				}
			}
		});					
	});
});		
</script>  
</body>
</html>
