
/* ==========================================================================
   General
   ========================================================================== */
 

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  overflow-x: hidden;
  line-height: 1.6;
}

p { color: #888; }

h1,
h2,
h3,
h4,
h5,
h6 { font-weight: 300; }

a { color: #3498db; }

a:hover,
a:focus {
  color: #2980b9;
  text-decoration: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

strong { font-weight: 600; }

/* ==========================================================================
   Hero Section
   ========================================================================== */ 

.hero {
  background: url(../img/bg.jpg) center center no-repeat fixed;
  background-size: cover;
  padding: 3em 0 4.5em;
  position: relative;
  text-align: center;
}

.chicas {
  width: 50%;
  height: 550px;
  background: rgba(255, 124, 198, 1);
  position:absolute;
  
}
.chicos {
  width: 50%;
  height: 550px;
  right:0px;
  background: rgba(124, 164, 255, 1);
  position:absolute;
  
}
.overlay {
  width: 100%;
  height: 660px;
  top:0;
  background: rgba(255, 255, 255, 0.9);
  position:absolute;
  
}

.logo {
position:absolute;
top:0;
left:30%;
}

.welcome-message { margin: 0 0 3em; }

.hero h1 {
  font-size: 41px;
  font-weight: 400;
  color: #333;
  line-height: 1.25;
}

.hero h2 {
  font-size: 18px;
  color: #666;
  line-height: 1.5;
  font-weight: 300;
}

.learn-more { margin-bottom: .75em; }

.button {
  display: inline-block;
  background: #3498db;
  padding: 1.125em 3em;
  border-radius: 64px;
  color: #fff;
  border: 1px solid #3498db;
  -webkit-transition: background 1s linear, border 1s linear;
  transition: background 1s linear, border 1s linear;
  font-weight: 400;
  text-transform: uppercase;
  width: 100%;
}

.button:hover {
  color: #fff;
  background: #2980b9;
  border: 1px solid #2980b9;
}

.button:focus { color: #fff; }

.button i {
  padding-left: 1em;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.button:hover i {
  -webkit-transform: translateX(5px);
  -ms-transform: translateX(5px);
  transform: translateX(5px);
}

.button.buy {
  background: transparent;
  color: #3498db;
  border: 1px solid #3498db;
  -webkit-transition: color 1s linear;
  transition: color 1s linear;
}

.button.buy:hover {
  border: 1px solid #2980b9;
  color: #2980b9;
}

.action-button p {
  margin: 1.5em 0 0;
  font-size: 15px;
}

.book-cover { margin-top: 3em; }

/* ==========================================================================
   Features
   ========================================================================== */
   
.features.section-spacing { padding: 4.5em 0 2.25em; }

section header h2,
section h2 {
  font-size: 34px;
  margin-top: 0;
  color: #333;
  font-weight: 400;
}

section header h3 {
  font-size: 20px;
  color: #555;
  margin: 0;
  line-height: 1.35;
}

section header { margin-bottom: 3em; }

.features h4 {
  color: #666;
  position: relative;
  margin-top: 1.5em;
  font-weight: 400;
}

.features > .container > .row > div { margin-bottom: 2.25em; }

.features hr {
  background: #3498db;
  border: none;
  height: 1px;
  width: 20%;
}

/* ==========================================================================
   counter
   ========================================================================== */

.section-spacing { padding: 4.5em 0; }

.counter {
  background: #3498db;
  color: #fff;
  padding: 4.5em 0;
}

.counter h3 { font-weight: 400; }

.counter p {
  margin-bottom: 0;
  color: #fff;
}

.counter div[class^="col-"]:nth-child(1),
.counter div[class^="col-"]:nth-child(2) { padding-bottom: 1.5em; }

/* ==========================================================================
   Reviews
   ========================================================================== */
   
.reviews,
.twitter-feed,
.site-footer { background: #F7F7F7; }

.reviews.section-spacing { padding: 4.5em 0 7.5em; }

.reviews h2 { margin-bottom: 24px; }

.reviews figure { margin: .75em 0; }

.review-slider {
  margin-bottom: 0;
  cursor: pointer;
}

.slick-dots li button:before {
  color: #3498db;
  opacity: .6;
}

.slick-dots li.slick-active button:before { opacity: 1; }

blockquote {
  font-size: 18px;
  border-left: none;
  margin: 0;
  padding: 24px;
  position: relative;
}

blockquote P { color: #555; }

.slick-slide span {
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 1em;
}

blockquote .fa-quote-left,
blockquote .fa-quote-right {
  position: absolute;
  color: #E4E4E4;
  font-size: 1em;
}

blockquote .fa-quote-left {
  left: 2px;
  top: 0;
}

blockquote .fa-quote-right {
  right: 2px;
  bottom: 0;
}

.reviews img { margin-bottom: .75em; }

.reviews figure h4 { font-weight: 400; }

.reviews figure p {
  margin-bottom: 0;
  font-style: italic;
}


 .form-control::-webkit-input-placeholder {
 color: #ABABAB;
 font-weight: 300;
}
 .form-control:-moz-placeholder {
 color: #ABABAB;
 font-weight: 300;
}
 .form-control::-moz-placeholder {
 color: #ABABAB;
 font-weight: 300;
}
 .form-control:-ms-input-placeholder {
 color: #ABABAB;
 font-weight: 300;
}

#mc-form { margin-top: 3em; }

#mc-form input,
.contact-form .form-control { margin-bottom: 1.5em; }

#mc-form > div { position: relative; }

#mc-form i[class*="fa-user"],
#mc-form i[class*="fa-envelope"] {
  position: absolute;
  right: 1em;
  color: #3498db;
}

#mc-form i[class*="first-name-i"],
#mc-form i[class*="last-name-i"],
#mc-form i[class*="fa-envelope"] { top: 19px; }

.form-control {
  background-color: #fff;
  border: 1px solid #e3e3e3;
  box-shadow: none;
  height: 50px;
  font-weight: 300;
  padding: 6px 40px 6px 12px;
}

.form-control:focus {
  border-color: #CECECE;
  outline: 0;
  box-shadow: none;
}

.btn-default {
  color: #fff;
  background-color: #3498db;
  border-color: #3498db;
  -webkit-transition: all .5s linear;
  transition: background-color .5s linear;
  padding: 12px 1.5em;
  text-transform: uppercase;
  font-weight: 400;
  
  border-radius: 64px;
}

.btn-facebook {
  color: #fff;
  background-color: #43609c;
  border-color: #43609c;
  
  -webkit-transition: all .5s linear;
  transition: background-color .5s linear;
  padding: 12px 1.5em;
  text-transform: uppercase;
  font-weight: 400;
  border-radius: 64px;
  padding: 12px 5em;	
}
.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active {
  color: #fff;
  background-color: #2980b9;
  border-color: #2980b9;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active {
  color: #fff;
  background-color: #2980b9;
  border-color: #2980b9;
}

.btn-twitter {
  color: #fff;
  background-color: #5eaade;
  border-color: #5eaade;
  
  -webkit-transition: all .5s linear;
  transition: background-color .5s linear;
  padding: 12px 1.5em;
  text-transform: uppercase;
  font-weight: 400;
  border-radius: 64px;
  padding: 12px 5em;	
}
.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active {
  color: #fff;
  background-color: #2980b9;
  border-color: #2980b9;
}

.btn-cuenta {
  color: #fff;
  background-color: #63a350;
  border-color: #63a350;
  
  -webkit-transition: all .5s linear;
  transition: background-color .5s linear;
  padding: 12px 1.5em;
  text-transform: uppercase;
  font-weight: 400;
  border-radius: 64px;
  padding: 12px 5em;	
}
.btn-cuenta:hover,
.btn-cuenta:focus,
.btn-cuenta:active {
  color: #fff;
  background-color: #598d45;
  border-color: #598d45;  

}
.btn-default:hover,
.btn-default:focus,
.btn-default:active {
  color: #fff;
  background-color: #2980b9;
  border-color: #2980b9;
}

.btn:active:focus,
.btn-default:focus,
.btn:focus,
.btn-default:active { outline: none; }

.sub-form .btn { width: 100%; }

.result {
  margin: .75em 0 0;
  font-weight: 400;
}



/* ==========================================================================
   author
   ========================================================================== */

.author { text-align: center; }

img.author-img {
  border-radius: 4px;
  margin-bottom: 3em;
}

.author h4 {
  margin-top: 0;
  font-weight: 700;
  color: #3498db;
}

.signature { margin: .75em 0; }

.author .social { margin-top: 1.5em; }

.social li {
  display: inline-block;
  padding-right: .8em;
  text-align: center;
}

.social li:last-child { padding-right: 0; }

.social li a {
  display: block;
  width: 38px;
  height: 38px;
  line-height: 38px;
  color: #fff;
  border-radius: 50%;
  background: #3498db;
  position: relative;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.social li a:hover {
  color: #fff;
  background: #2980b9;
}

/* ==========================================================================
   Twitter feed
   ========================================================================== */


.center-block { float: none; }

.twitter-feed h2 { margin: 0; }

.twitter-icon .fa-twitter {
  color: #3498db;
  padding: 24px 0 12px;
  font-size: 3em;
}

.tweet { font-size: 18px; }

/* ==========================================================================
   Map
   ========================================================================== */


#map-canvas {
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: 30em;
}

.address { padding: 3em 0; }

.address li i {
  color: #3498db;
  display: block;
  font-size: 3em;
}

.address p { margin-bottom: 0; }

.address li { padding-bottom: 1.5em; }

.address li:last-child { padding-bottom: 0; }

/* ==========================================================================
   Contact
   ========================================================================== */
 
.contact.section-spacing { padding: 4.5em 0 0; }

.contact-form { margin-bottom: 3em; }

.contact-form label.error {
  margin-bottom: 12px;
  font-weight: 300;
  color: #ea5050;
}

.contact .btn-default { width: 100%; }

/* ==========================================================================
   contact Form Validation
   ========================================================================== */
   

.contact-form label.error i { padding-right: 8px; }

.success-cf,
.error-cf { display: none; }

.success-cf p { background: rgba(39, 174, 96, 0.7); }

.error-cf p { background: rgba(231, 76, 60, 0.7); }

.contact-form .success-cf p,
.contact-form .error-cf p {
  position: absolute;
  display: block;
  top: 20%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
  color: #fff;
  border-radius: 2px;
  padding: .75em;
  width: 80%;
  margin: 0 auto;
}

.contact-form .error { border-color: #e74c3c; }

.contact-form .valid { border-color: #2ecc71; }

/* ==========================================================================
   footer
   ========================================================================== */


.site-footer.section-spacing { padding: 4.5em 0; }

.site-footer small {
  margin: 1.5em 0 .75em;
  display: inline-block;
  color: #888;
}

.site-footer .social li a {
  background: transparent;
  color: #3498db;
  border: 1px solid #3498db;
}

.site-footer .social li a:hover {
  color: #fff;
  background: #2980b9;
  border: 1px solid #2980b9;
}

.modal-header {
  background: #3498db;
  position: relative;
  min-height: 0;
  padding: 1.5em 1em;
}

.modal-title {
  color: #FFF;
  font-weight: 700;
}

button.close {
  color: #3498db;
  opacity: 1;
  background: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  line-height: 35px;
  position: absolute;
  right: 16px;
}

.close:hover,
.close:focus {
  color: #2980b9;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
  outline: none;
}

.modal-body { padding: 1.5em; }

/* ==========================================================================
   scroll top
   ========================================================================== */
   
.scroll-top { margin-bottom: 0; }

.scroll-top a {
  position: fixed;
  bottom: 2em;
  right: 2em;
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  padding: .8em 1em;
  display: none;
  z-index: 200;
  border-radius: 50%;
  -webkit-transition: background .5s linear;
  transition: background .5s linear;
}

.scroll-top a:hover { background: #3498db; }

/* ==========================================================================
   SexyMetro Styles
========================================================================== */
#galleria{
	 width:100%; 
	 height:650px;
	 background-color:#111;
	 }
.no-padding{
	padding:0;	
}
.bg1{
	background:#333;
}
.640-content{
	height:640px;
	overflow: auto; 
	padding-top:26px;
	margin-top:26px;
}
.my_sexymetro_chart{
	text-align:right;
	float:left;
	position:absolute;
	left:30px;
	top:20px;
	line-height:122px;	
}
.my_sexymetro_span{
	float:left;
	position:absolute;
	line-height:50px;
	top:10px;
	font-size:16px;
	color:#FFF;
	text-shadow: 1px 1px 2px #000;
	right:30px;	
}
.max-h-640{
	 max-height:650px;
	 min-height:650px;
	 padding-bottom:25px;
}
.sexy_name{
	color:#fff;
	padding-top:30px;
	padding-bottom:0px;
	margin-bottom:0px;		
}
.sexy_percent{
	float:left;
	position:absolute;
	line-height:50px;
	font-size:48px;
	color:#FFF;
	text-shadow: 1px 1px 2px #000;
	left:165px;
	top:150px;
}
.sexy_percent_metro{
	float:left;
	position:absolute;
	line-height:50px;
	color:#FFF;
	text-shadow: 1px 1px 2px #000;
	left:160px;
	top:190px;
}
.select_yes_or_no{
	width:100%;
	text-align:center;
	padding:10px;
	font-size:1.5em;
	line-height:50px;
	background-color:#d6260e;
	color:#FFF;	
}

.connect_facebook{
	width:100%;
	text-align:center;
	padding:10px;
	font-size:1.5em;
	line-height:50px;
	background-color:#3c5c99;
	color:#FFF;	
}
#p1 {
	height:180px;
	margin-right:40px;

}	
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fefefe;
  z-index: 9999;
  height: 100%;
  height: 100%;
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: url(../img/load.gif) no-repeat center center;
  margin: -170px 0 0 -100px;
}

 #galleria_chat{
	 position:fixed;
	 top:0;
	 right:0;
	 width:50%;
	 float:right;
	 margin-right:50%;	 
	 height:100%;
	 background-color:#111;
	 }	 
 #galleria_loading_chat{
	 position:absolute;
	 top:0;
	 left:0;
	 width:100%;
	 float:right;		 
	 height:100%;
	 background-color:#111;
	 z-index:10;
	 }		 
.slider-chat {
	max-width:510px;
	min-height: 650px;
	min-height: 680px;		
	background-color:#111;
	clear:both;
	opacity:0;
	float:right; padding-right:35%;		

}
.slider-chat-visible {
	max-width:510px;
	min-height: 650px;
	min-height: 680px;		
	background-color:#111;
	clear:both;
	float:right; padding-right:35%;		

}	
.datestamp {
  text-align: center;
  font-weight: bold;
  display:block;
  color: #8b91a0;
  display:none;
  font-size:14px;
  width:300px;
  line-height:50px;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.6);
}	
/* ==========================================================================
   Small devices (tablets, 768px and up)
   ========================================================================== */
   
@media (min-width: 768px) {

.hero { padding: 3em 0 6em; }

.logo { text-align: inherit; }

.hero h1 {
  font-size: 48px;
  line-height: 1.35;
}

section header h3 { font-size: 21px; }

.button { width: auto; }

.learn-more {
  margin-right: 1em;
  margin-bottom: 0;
}

.counter div[class^="col-"]:nth-child(1),
.counter div[class^="col-"]:nth-child(2) { padding-bottom: 0; }

blockquote { font-size: 22px; }

.buy-now .button.buy { padding: 1.125em 6em; }

.address li { padding-bottom: 0; }
}

/* ==========================================================================
   Medium devices (desktops, 992px and up) 
   ========================================================================== */
   
@media (min-width: 992px) {

.hero {
  padding: 3em 0 6em;
  text-align: left;
}

.logo { margin-bottom: 3em; }

.book-cover { margin-top: 0; }

.hero h1 {
  font-size: 73.981px;
  font-weight: 700;
  line-height: 1.17;
}

.hero h2 { font-size: 20.25px; }

.welcome-message { margin: 4.5em 0 3em; }

.section-spacing { padding: 6em 0; }

.features.section-spacing { padding: 6em 0 3.75em; }

.reviews.section-spacing { padding: 6em 0 9em; }

blockquote .fa-quote-left,
blockquote .fa-quote-right { font-size: 1.5em; }

blockquote .fa-quote-left { left: -50px; }

blockquote .fa-quote-right { right: -50px; }

#mc-form { margin-top: 6em; }

.author { text-align: left; }

img.author-img { margin-bottom: 0; }

.contact.section-spacing { padding: 6em 0 0; }

.contact .btn-default {
  width: auto;
  padding: 12px 5em;
}
}

@media (min-width: 992px) and (max-width: 1203px) {

.action-button a { width: 90%; }

.learn-more {
  margin-right: 0;
  margin-bottom: .75em;
}
}
