<div class="cd-panel from-right">

    <header class="cd-panel-header-ingame">
        <h4 style="margin-left:25px;" id="nombre_edad"></h4>
        <a href="#" onClick="close_chat();" class="cd-panel-close"><i class="fa fa-times" style="color:#111;"></i></a>
    </header>  
       
    <header class="cd-panel-footer-ingame">
    <form action="#" method="post" id="chat">
        <input type="hidden"  name="uid1" value="<?php echo $sm['user']['id']; ?>" style="display:none">
        <input type="hidden" id="uid2"  name="uid2" value="" style="display:none">
        <input type="hidden" id="uid2_name"  name="uid2_name" value="" style="display:none">        
        <input type="hidden" id="photo"  value="<?php echo $sm['user']['photo_small']; ?>" style="display:none">        
        <input type="text" placeholder="Type here and hit enter to send" id="mensaje" autocomplete="off"  name="mensaje" class="form-control"   style=" width:85%; border:none; font-size:18px;"/>
        <button type="submit" style="display:none;" ></button>
        </form>
        <div id="grabar_video_div">
        <a href="javascript:;" id="grabar_video" onClick="record_video()"  class="cd-panel-enviar"  style="font-size:14px;"><i class="fa fa-video-camera" style="color:#f36c11;"></i></a>
        </div>
    </header>  

    <div class="cd-panel-container-ingame"><!-- START CHAT WINDOW -->
		<div class="cd-panel-content" id="chat-body" >
			<ul class="chats" id="lista_chat">
                <center> <a href="#" class="datestamp" id="datestamp"> </a></center>       
                <div id="chat_history"></div>
                <div id="mensaje_nuevo"></div>                                                                                       
			</ul>          
        </div> 
    </div> <!-- END CHAT WINDOW -->
</div> <!-- END CHAT CONTENT -->