<!DOCTYPE html>
<html>
<head>
<title><?php echo $sm['config']['site_title']; ?></title>
<link href="<?php echo $sm['config']['theme_url']; ?>/css/styles.min.css" rel="stylesheet">
<link href="<?php echo $sm['config']['theme_url']; ?>/css/main.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/normalize.css" />
<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/menu_sideslide.css" />
<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/ns-default.css" />
<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/ns-style-other.css" />
<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/menuzord.css">
<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/menuzord-dark.css">    
<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/component.css" />
<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/sweet-alert.css">
<link href="<?php echo $sm['config']['theme_url']; ?>/css/owl.carousel.css" rel="stylesheet">
<link href="<?php echo $sm['config']['theme_url']; ?>/css/owl.theme.css" rel="stylesheet">
<style>
#carousel .item{
	margin: 0px;
}
#carousel .item img{

	width: 100%;
	height: 180px;
}
</style>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css">
</head>
<body>
<div class="content_sexy">
	<div class="content-wrap">
		<div class="content bg1" style="background:#222;">
			<div class="container no-padding">
				<div class="row no-padding ">    
					<div class="menuzord">
                    <a href="#" class="logo"><img src="<?php echo $sm['config']['theme_url']; ?>/img/logo.png" width="290"></a>                    
						<ul class="menuzord-menu">
							<li ><a href="<?php echo smoothLink('index.php?page=preview'); ?>" ><i class="fa fa-star"></i> <?php echo $lang['menu_sexy']; ?></a></li>                                
							<li ><a href="<?php echo smoothLink('index.php?page=account'); ?>" > <i class="fa fa-plus-square" ></i> <?php echo $lang['menu_create_account']; ?></a></li> 
							<li class="active"><a href="<?php echo smoothLink('index.php?page=login'); ?>"><i class="fa fa-user"></i> <?php echo $lang['menu_login']; ?></a></li>                                                    
                        </ul>
					</div>
				</div>
			</div>
			<div class="connect_facebook">
				<a href="<?php echo smoothLink('index.php?page=fbconnect'); ?>" style="color:#FFF;"><strong><i class="fa fa-facebook-square"></i> <?php echo $lang['connect_facebook']; ?></strong></a>
			</div> 
			<div class="select_yes_or_no" id="response" style="display:none;"></div>  
			<section class="author" style="background-color: #111;">
				<div class="container no-padding">
					<div class="row no-padding">
						<div class="col-md-2" style="padding-top:26px;"></div>   
						<div class="col-md-8" style="padding-top:26px;background:url(<?php echo $sm['config']['theme_url']; ?>/pattern/0.jpg) repeat; padding-left:25px; padding-left:120px; padding-right:160px;">
							<center><h3 style="color:#FFF;"><?php echo $lang['login_title']; ?></h3></center>
							<p><?php echo $lang['login_subtitle']; ?></p>	
							<form class="form-horizontal" id="login" method="post">
								<div class="form-group">
									<label class="col-sm-2 control-label"><?php echo $lang['form_email']; ?>:</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" name="email" required>     
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label"><?php echo $lang['form_password']; ?>:</label>
									<div class="col-sm-10">
										<input type="password" class="form-control" name="pass"  required>  
										<span style="float:right; padding-top:10px;"><a href="<?php echo smoothLink('index.php?page=forgot'); ?>">I forgot my password</a></span>										
									</div>
								</div>  
								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-10">
										<button type="submit" class="btn btn-1" id="login_btn"><?php echo $lang['form_login_btn']; ?></button>
									</div>
								</div>
							</form>
						</div>
						<div class="col-md-2" style="padding-top:26px;"></div>        
					</div>
				</div>
			</section>

			<div id="carousel" class="owl-carousel">
				<?php loginRandPhotos(); ?>
			</div> 
			<?php echo getPage('footer/content'); ?>			
		</div><!-- /content-wrap -->
	</div><!-- /container -->
</div>

<div style="display:none;"><audio id="noti_audio" src="noti.mp3" preload="auto"></audio></div>    
<script type="text/javascript" src="<?php echo $sm['config']['theme_url']; ?>/js/jquery-2.1.1.min.js"></script> <!-- JQUERY -->
<script src="<?php echo $sm['config']['theme_url']; ?>/js/owl.carousel.js"></script>
<script src="<?php echo $sm['config']['theme_url']; ?>/js/sweet-alert.js"></script> 
<script src="<?php echo $sm['config']['theme_url']; ?>/js/scripts.min.js"></script>
<script> 
<!-- CAROUSEL -->   
$(document).ready(function() {
	var owl = $('#carousel');
	owl.owlCarousel({
		items : 6,
		lazyLoad : true,
		loop:true,
		autoWidth:true,
		autoPlay : 2000,
		stopOnHover : true,
		itemsScaleUp:true ,
		pagination: false,
	 });
});

<!-- LOGIN FORM -->  	
$(function(){
	$('#login').submit(function(e) {
		e.preventDefault();
		var findme = "Error";
		var admin = "admin";
		$.ajax({
			data:  $(this).serialize(),
			url:   '<?php echo $sm['config']['site_url']; ?>/requests/login.php',
			type:  'post',
			beforeSend: function () {
				$("#login_btn").html("<?php echo $lang['btn_working']; ?>");
			},			
			success:  function (response) {
				<!-- CHECK IF WRONG -->  	
				if ( response.indexOf(findme) > -1 ) 
				{
					swal({
						title: "Error!",
						text: response,
						type: "error",
					});		
					$("#login_btn").html("<?php echo $lang['form_login_btn']; ?>");
				}
				<!-- REDIRECT IF ALL OK --> 				
				else
				{
					window.location='index.php?=game';	
				}
			}
		});					
	});
});		
</script>    
</body>
</html>
