<?php 
$uid = $_GET['id'];
$uid = secureEncode($uid);
getUserInfo($uid,1);
?>
<style>
#carousel .item{
	margin: 0px;
}
#carousel .item img{

	width: 100%;
	height: 180px;
	
}
</style>
<div class="content_sexy">
    <div class="content-wrap">
		<div class="content bg1" style="background:#222;">
			<div class="container no-padding">
				<div class="row no-padding ">    
					<div class="menuzord">
						<a href="<?php echo smoothLink('index.php?page=game'); ?>" class="logo"><img src="<?php echo $sm['config']['theme_url']; ?>/img/logo.png" width="290"></a>
						<ul class="menuzord-menu">
							<li ><a href="<?php echo smoothLink('index.php?page=game'); ?>" id="buscar"><i class="fa fa-star"></i> <?php echo $lang['menu_sexy']; ?></a></li>
							<li ><a href="<?php echo smoothLink('index.php?page=meet'); ?>"><i class="fa fa-globe"></i> <?php echo $lang['menu_meet']; ?></a></li>   
							<li ><a href="<?php echo smoothLink('index.php?page=chat'); ?>" id="mensajes_nuevos_icon" > <i class="fa fa-comment-o" ></i> <?php echo $lang['menu_chat']; ?> 
							<span id="mensajes_nuevos"></span></a></li>
							<li ><a href="<?php echo smoothLink('index.php?page=crushes'); ?>" id="likes_nuevos_icon"> <i class="fa fa-heart-o" ></i> <?php echo $lang['menu_crushes']; ?>
							<span id="likes_nuevos"></span></a></li>
							<li ><a href="<?php echo smoothLink('index.php?page=settings'); ?>"><i class="fa fa-cog"></i> <?php echo $lang['menu_settings']; ?></a></li>
						</ul>
					</div>
				</div>
			</div>        
			<section class="author" style="background-color: #111;">
			  <div class="container no-padding">
				<div class="row no-padding">      
					<div class="col-md-2" style="padding-top:26px;">
						<div class="640-content text-center">
								<div id="my_sexymetro" class="my_sexymetro_chart" style="left:35px;"></div>
								<img src="<?php echo $sm['profile']['photo_small']; ?>" class="img-circle" style="overflow:hidden; height:122px; width:122px;">
								<h4 style="padding-top:10px;"><?php echo $sm['profile']['name'].", ".$sm['profile']['age']." ".status($sm['profile']['id'],14); ?>  </h4></center>
								<p style="font-size:14px; text-align:center;"><?php echo $sm['profile']['bio']; ?> .</p>
						</div>
						<nav class="menu-side" style="width:100%; font-size:14px;">    
						<a href="#" style="color:#999;"><strong style="color:#f6448d;">s</strong><strong style="color:#59affe;">m</strong>&nbsp;<strong>
						<?php echo $sm['profile']['sexymetro']; ?></strong></a>
						<a href="#" onClick="chat_user_ingame(<?php echo $sm['user']['id']; ?>,<?php echo $sm['profile']['id']; ?>,'<?php echo $sm['profile']['name']; ?>')" style="color:#999;"><i class="fa fa-fw fa-comment" style="font-size:18px; color:#F63"></i>&nbsp;<strong><?php echo $lang['chat_now']; ?></strong></a>    
						<a href="#" style="color:#999;"><i class="fa fa-fw fa-map-marker" style="font-size:18px;"></i>&nbsp;<?php echo $sm['profile']['loc']; ?></a>    
						<?php 
						if($sm['profile']['facebook'] != "")
						{
							echo'<a href="http://www.facebook.com/'.$sm['profile']['facebook'].'" target="_blank" style="color:#999;"><i class="fa fa-fw fa-facebook" style="font-size:18px; color:#36C"></i>&nbsp;'.$sm['profile']['facebook'].'</a>';
						} 
						if($sm['profile']['twitter'] != "")
						{
							echo'<a href="http://www.twitter.com/'.$sm['profile']['twitter'].'" target="_blank" style="color:#999;"><i class="fa fa-fw fa-twitter" style="font-size:18px; color:#8ec1da"></i>&nbsp;'.$sm['profile']['twitter'].'</a>';

						} 
						if($sm['profile']['skype'] != "")
						{
							echo'<a href="#" style="color:#999;"><i class="fa fa-fw fa-skype" style="font-size:18px; color:#019ed8;"></i>&nbsp;'.$sm['profile']['skype'].'</a>'; 
						}
						if($sm['profile']['whatsapp'] != "")
						{
							echo'<a href="#" style="color:#999;"><img src="img/wazzap.png" />&nbsp;'.$sm['profile']['whatsapp'].'</a>'; 
						}
						?>                      
						</nav>

				  </div>
					<div class="col-md-6 text-center no-padding" >	
						<div id="galleria">
							<?php echo userGalleria($sm['profile']['id']); ?>
						</div>
					</div>
				   
				<div class="col-md-4 text-center max-h-640" style=" background:url(<?php echo $sm['config']['theme_url']; ?>/pattern/<?php echo $sm['profile']['pattern']; ?>.jpg) repeat;">   
				<p style="padding-top:30px;"><strong><span id="sexy_count"><?php echo $sm['profile']['sexy']; ?></span></strong> <?php echo $lang['of']; ?> <strong><span id="total"><?php echo $sm['profile']['total']; ?></span></strong> <?php echo $lang['people_say']; ?><br>
				<?php echo $lang['that']; ?> <strong><span id="name2"><?php echo $sm['profile']['name']; ?></span></strong> <?php echo $lang['is_sexy']; ?></p>              
				<div id="chart2" style="padding-top:30px;"></div>
				<p class="sexy_percent" style="left:141px; top:200px;"><strong style="color:#fff;"><span id="percent" style="font-size:1.7em;"><?php echo $sm['profile']['sexymetro']; ?></span></strong></p>  
				<p class="sexy_percent_metro" style="left:160px; top:260px;"><strong style="color:#5b9735;">Toking</strong><strong style="color:#d6260e;">Hot</strong></p>

				<?
				$check = alreadyVoted($sm['user']['id'],$sm['profile']['id']);
				if($check == 1){
				?>  
				<p style="padding-top:30px;">You already voted ^^</p>         
				<a href="#" id="sexy_id" class="btn btn-2 btn-2i disabled" style="color:#fff; line-height:90px;"><?php echo $lang['yes']; ?></a>          
				<a href="#" class="btn btn-2 btn-2j disabled" style="color:#fff; line-height:90px;"><?php echo $lang['no']; ?></a>
				
				<?php } else if ($sm['user']['id'] == $sm['profile']['id']) {?>  
					
				<?php } else {?>  
				  
				<p style="padding-top:30px;" id="voted">Is <?php echo $sm['profile']['name']; ?> sexy??</strong></p>         
				<a href="#" id="sexy_id" name="<?php echo $sm['profile']['id'] ?>"  title="<?php echo $sm['profile']['id']; ?>" onClick="profile_sexy_yes(<?php echo $sm['user']['id']; ?>)" class="btn btn-2 btn-2i" style="color:#fff; line-height:90px;"><?php echo $lang['yes']; ?></a>          
				<a href="#" onClick="profile_sexy_no(<?php echo $sm['user']['id']; ?>)" class="btn btn-2 btn-2j" style="color:#fff; line-height:90px;"><?php echo $lang['no']; ?></a>  
				  
				<?php }?>  
				
				</div>        
				</div>
			  </div>
			</section>
			<div class="select_yes_or_no"><strong><?php echo $lang['look_who_else']; ?></strong></div> 
			<div id="carousel" class="owl-carousel">
				<?php loginRandPhotos(); ?>
			</div>  
			
			<?php echo getPage('footer/content'); ?>			
		</div><!-- /content-wrap -->
	</div><!-- /container -->
    <?php echo getPage('game/chat_panel'); ?>
</div>
