    <div class="header-clear"></div>    
    <div class="perspective_container" style="background:#222;"><!--the "moving to the left" content box-->
        <div class="wrapper"><!-- wrapper needed for scroll -->
            <div id="content" style="margin-left:10px; margin-right:10px;">
                <div class="notification-page">
                <div id="new_messages"></div>	
				<div id="history"></div>	
                </div>
            </div><!-- Content-->
        </div><!-- wrapper -->
    </div><!-- /perspective container -->