<div class="content_sexy">

    <div class="content-wrap">
    <div class="content bg1" style="background:#222;">
    
      <div class="container no-padding">
         <div class="row no-padding ">    
            <div class="menuzord">
                    <a href="#" class="logo"><img src="<?php echo $sm['config']['theme_url']; ?>/img/logo.png" width="290"></a>
                    <ul class="menuzord-menu">
					<li class="active"><a href="<?php echo smoothLink('index.php?page=preview'); ?>" ><i class="fa fa-star"></i> Sexy</a></li>                                
					<li ><a href="<?php echo smoothLink('index.php?page=account'); ?>" > <i class="fa fa-plus-square " ></i> Create account </a></li> 
					<li ><a href="<?php echo smoothLink('index.php?page=login'); ?>"><i class="fa fa-user"></i> Login</a></li>    
                    </ul>
            </div>
        </div>
     </div>