<div class="content_sexy">
    <div class="content-wrap">
		<div class="content bg1" style="background:#222;">
			<div class="container no-padding">
				<div class="row no-padding ">    
					<div class="menuzord">
						<a href="<?php echo smoothLink('index.php?page=game'); ?>" class="logo"><img src="<?php echo $sm['config']['theme_url']; ?>/img/logo.png" width="290"></a>
						<ul class="menuzord-menu">
							<li ><a href="<?php echo smoothLink('index.php?page=game'); ?>" id="buscar"><i class="fa fa-star"></i> <?php echo $lang['menu_sexy']; ?></a></li>
							<li ><a href="<?php echo smoothLink('index.php?page=meet'); ?>"><i class="fa fa-globe"></i> <?php echo $lang['menu_meet']; ?></a></li>   
							<li ><a href="<?php echo smoothLink('index.php?page=chat'); ?>" id="mensajes_nuevos_icon" > <i class="fa fa-comment-o" ></i> <?php echo $lang['menu_chat']; ?> 
							<span id="mensajes_nuevos"></span></a></li>
							<li class="active"><a href="<?php echo smoothLink('index.php?page=crushes'); ?>" id="likes_nuevos_icon"> <i class="fa fa-heart-o" ></i> <?php echo $lang['menu_crushes']; ?>
							<span id="likes_nuevos"></span></a></li>
							<li ><a href="<?php echo smoothLink('index.php?page=settings'); ?>"><i class="fa fa-cog"></i> <?php echo $lang['menu_settings']; ?></a></li>
						</ul>
					</div>
				</div>
			</div>         
			<section class="author" style="background-color: #111;">
			  <div class="container no-padding">
				<div class="row no-padding">        
					<div class="col-md-2" style="padding-top:26px;">
						<div class="640-content text-center">
								<div id="my_sexymetro" class="my_sexymetro_chart"></div>
								<p class="my_sexymetro_span"><?php echo $sm['user']['sexymetro']; ?></p>
								<img src="<?php echo $sm['user']['photo_small']; ?>" class="img-circle" style="overflow:hidden; height:122px; width:122px;">
								<h4 style="padding-top:10px;"><?php echo $sm['user']['name']; ?> </h4></center>
						</div>
						<nav class="menu-side" style="width:100%;">
							<a href="<?php echo smoothLink('index.php?page=profile&id='.$sm['user']['id']); ?>" style="color:#fff;"><i class="fa fa-fw fa-user"></i>&nbsp;<?php echo $lang['menu_profile']; ?></a>
							<a href="<?php echo smoothLink('index.php?page=settings'); ?>"  style="color:#999;"><i class="fa fa-fw fa-gear"></i>&nbsp;<?php echo $lang['menu_settings']; ?></a>               
							<a href="<?php echo smoothLink('index.php?page=logout'); ?>" style="color:#999;"><i class="fa fa-fw fa-power-off"></i>&nbsp;<?php echo $lang['menu_logout']; ?> </a>        
						</nav>
					 </div> 
						
					<div class="col-md-10 text-center" id="crushes">
						<?php crushes($sm['user']['id']); ?>
					</div>      
				  </div>
			  </div>
			</section>
			<?php echo getPage('footer/content'); ?>			
		</div><!-- /content-wrap -->
	</div><!-- /container -->
    <?php echo getPage('game/chat_panel'); ?>
</div>