<tr>
  <td><?php echo $sm['mUser']['id']; ?></td>
  <td><img style="width:64px; height:64px;" src="<?php echo $sm['mUser']['photo']; ?>" /></td>
  <td><a href="<?php echo smoothLink('index.php?page=profile&id='.$sm['mUser']['id']); ?>"><?php echo $sm['mUser']['name']; ?></a></td>
  <td><?php echo $sm['mUser']['email']; ?></td>
  <td><a href="<?php echo smoothLink('index.php?page=manage_user&id='.$sm['mUser']['id']); ?>">Edit</a> - <a href="<?php echo smoothLink('index.php?page=admin_photos&view='.$sm['mUser']['id']); ?>">Photos</a> - <a href="#" id="del_user" title="<?php echo $sm['mUser']['id']; ?>">Delete</a></td>
</tr>