<?php 
$uid = $_GET['id'];
$uid = secureEncode($uid);
getUserInfo($uid,2);
?>
<div class="content_sexy">
    <div class="content-wrap">
		<div class="content bg1" style="background:#222;">
			<div class="container no-padding">
				<div class="row no-padding ">    
					<div class="menuzord">
						<a href="<?php echo smoothLink('index.php?page=game'); ?>" class="logo"><img src="<?php echo $sm['config']['theme_url']; ?>/img/logo.png" width="290"></a>
						<ul class="menuzord-menu">
							<li ><a href="<?php echo smoothLink('index.php?page=game'); ?>" id="buscar"><i class="fa fa-star"></i> <?php echo $lang['menu_sexy']; ?></a></li>
							<li ><a href="<?php echo smoothLink('index.php?page=meet'); ?>"><i class="fa fa-globe"></i> <?php echo $lang['menu_meet']; ?></a></li>   
							<li ><a href="<?php echo smoothLink('index.php?page=chat'); ?>" id="mensajes_nuevos_icon" > <i class="fa fa-comment-o" ></i> <?php echo $lang['menu_chat']; ?> 
							<span id="mensajes_nuevos"></span></a></li>
							<li ><a href="<?php echo smoothLink('index.php?page=crushes'); ?>" id="likes_nuevos_icon"> <i class="fa fa-heart-o" ></i> <?php echo $lang['menu_crushes']; ?>
							<span id="likes_nuevos"></span></a></li>
							<li class="active"><a href="<?php echo smoothLink('index.php?page=settings'); ?>"><i class="fa fa-cog"></i> <?php echo $lang['menu_settings']; ?></a></li>
						</ul>
					</div>
				</div>
			</div>          
			<section class="author" style="background-color: #111;">
			  <div class="container no-padding">
				<div class="row no-padding">        
					<div class="col-md-2" style="padding-top:26px;">
						<nav class="menu-side" style="width:100%;">   
							<a href="<?php echo smoothLink('index.php?page=admin'); ?>" style="color:#999;" ><i class="fa fa-fw fa-gear"></i>&nbsp;Site info</a>               
							<a href="<?php echo smoothLink('index.php?page=admin_users'); ?>" ><i class="fa fa-fw fa-user" ></i>&nbsp;Users info </a>			
							<a href="<?php echo smoothLink('index.php?page=admin_photos&view=all'); ?>" style="color:#999;"><i class="fa fa-fw fa-camera" ></i>&nbsp;Review Photos </a>                  
							<a href="<?php echo smoothLink('index.php?page=logout'); ?>" style="color:#999;"><i class="fa fa-fw fa-power-off" ></i>&nbsp;Logout </a>          
						</nav>
					 </div> 
						
					<div class="col-md-8 text-center" style="padding-top:26px; padding-left:25px;">	
							<img src="<?php echo $sm['mUser']['photo_small']; ?>" class="img-thumbnail"/> 
							<form class="form-horizontal" id="update" method="post">				 
							  <div class="form-group">
								<label class="col-sm-2 control-label"><?php echo $lang['form_name']; ?>:</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" name="nickname" value="<?php echo $sm['mUser']['name']; ?>" required>     
									<input  style="display:none;" name="uid" type="hidden" value="<?php echo $sm['mUser']['id']; ?>"> 								
								</div>
							  </div>
							  <div class="form-group">
								<label class="col-sm-2 control-label"><?php echo $lang['form_email']; ?>:</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" name="email" value="<?php echo $sm['mUser']['email']; ?>" required>     
								</div>
							  </div>
							  <div class="form-group">
								<label class="col-sm-2 control-label"><?php echo $lang['form_city']; ?>:</label>
								<div class="col-sm-10">
								 <input type="text" class="form-control" name="city" id="geo" value="<?php echo $sm['mUser']['loc']; ?>"  required>
								 <input  style="display:none;" name="lat" type="hidden" value="<?php echo $sm['mUser']['lat']; ?>">                         
								 <input  style="display:none;" name="lng" type="hidden" value="<?php echo $sm['mUser']['lng']; ?>"> 
								 <input  style="display:none;" name="formatted_address" type="hidden" value="<?php echo $sm['mUser']['loc']; ?>">                                           
								</div>
							  </div>  
							  <div class="form-group">
								<label class="col-sm-2 control-label"><?php echo $lang['form_age']; ?>:</label>
								<div class="col-sm-10">
								  <input type="number" class="form-control"  min="18" max="99" maxlength="2" name="age" value="<?php echo $sm['mUser']['age']; ?>" required>      
								</div>
							  </div> 
							  <div class="form-group">
								<label class="col-sm-2 control-label"><?php echo $lang['form_gender']; ?>:</label>
								<div class="col-sm-10">
								  <select  class="form-control" name="gender"  >
								  <?php if ($sm['mUser']['gender'] == 1)
								  {
									  echo'<option value="1">'.$lang['form_gender_male'].'</option>';
									  echo'<option value="0">'.$lang['form_gender_female'].'</option>';
								  }
								  else
								  {
									  echo'<option value="0">'.$lang['form_gender_female'].'</option>';
									  echo'<option value="1">'.$lang['form_gender_male'].'</option>';
									  
								  }
								  ?>                  
								  </select>     
								</div>
							  </div> 				
							  <div class="form-group">
								<label class="col-sm-2 control-label"><?php echo $lang['form_bio']; ?>:</label>
								<div class="col-sm-10">
								  <textarea type="text" class="form-control" name="bio" required><?php echo $sm['mUser']['bio']; ?></textarea>    
								</div>
							  </div>
							  <hr>
							  <div class="form-group">
								<label class="col-sm-2 control-label"><?php echo $lang['form_looking']; ?>:</label>
								<div class="col-sm-10">
								  <select  class="form-control" name="looking"  >
								  <?php if ($sm['mUser']['looking'] == 1)
								  {
									  echo'<option value="1">'.$lang['form_looking_boys'].'</option>';
									  echo'<option value="0">'.$lang['form_looking_girls'].'</option>';
								  }
								  else
								  {
									  echo'<option value="0">'.$lang['form_looking_girls'].'</option>';
									  echo'<option value="1">'.$lang['form_looking_boys'].'</option>';
									  
								  }
								  ?>
								  </select>
									
								</div>
							  </div>   
							  <hr>                      
							  <div class="form-group">
								<div class="col-sm-offset-3 col-sm-9">
								  <button type="submit" class="btn btn-1" id="upd_btn"><?php echo $lang['upd_btn']; ?></button>
								</div>
							  </div>
							</form>

					</div>
				   
				   
				</div>
			  </div>
			</section>


			</div><!-- /content-wrap -->
		</div><!-- /container -->


</div>
