<div class="content_sexy">
    <div class="content-wrap">
		<div class="content bg1" style="background:#222;">
			<div class="container no-padding">
				<div class="row no-padding ">    
					<div class="menuzord">
						<a href="<?php echo smoothLink('index.php?page=game'); ?>" class="logo"><img src="<?php echo $sm['config']['theme_url']; ?>/img/logo.png" width="290"></a>
						<ul class="menuzord-menu">
							<li ><a href="<?php echo smoothLink('index.php?page=game'); ?>" id="buscar"><i class="fa fa-star"></i> Sexy</a></li>
							<li ><a href="<?php echo smoothLink('index.php?page=meet'); ?>"><i class="fa fa-globe"></i> Meet</a></li>   
							<li ><a href="<?php echo smoothLink('index.php?page=chat'); ?>" id="mensajes_nuevos_icon" > <i class="fa fa-comment-o" ></i> Chat 
							<span id="mensajes_nuevos"></span></a></li>
							<li ><a href="<?php echo smoothLink('index.php?page=crushes'); ?>" id="likes_nuevos_icon"> <i class="fa fa-heart-o" ></i> Crushes 
							<span id="likes_nuevos"></span></a></li>
							<li class="active"><a href="<?php echo smoothLink('index.php?page=settings'); ?>"><i class="fa fa-cog"></i> Settings</a></li>
						</ul>
					</div>
				</div>
			</div>  	
			<section class="author" style="background-color: #111;">
			  <div class="container no-padding">
				<div class="row no-padding">        
					<div class="col-md-2" style="padding-top:26px;">
						<nav class="menu-side" style="width:100%;">   
							<a href="<?php echo smoothLink('index.php?page=admin'); ?>" ><i class="fa fa-fw fa-gear"></i>&nbsp;Site info</a>               
							<a href="<?php echo smoothLink('index.php?page=admin_users'); ?>" style="color:#999;"><i class="fa fa-fw fa-user" ></i>&nbsp;Users info </a>			
							<a href="<?php echo smoothLink('index.php?page=admin_photos&view=all'); ?>" style="color:#999;"><i class="fa fa-fw fa-camera" ></i>&nbsp;Review Photos </a>                  
							<a href="<?php echo smoothLink('index.php?page=logout'); ?>" style="color:#999;"><i class="fa fa-fw fa-power-off" ></i>&nbsp;Logout </a>          
						</nav>
					</div> 	
					<div class="col-md-8 text-center" style="padding-top:26px; padding-left:25px; color: #fff; padding: 1.5em 0.5em 0;">	
					  <div class="col-sm-3 col-xs-6"> <i class="fa fa-users fa-3x"></i>
						<h3 class="total-number-1"><?php echo getTotalUsers(1); ?></h3>
						<p><a href="<?php echo smoothLink('index.php?page=admin_users'); ?>">Total users</a></p>
					  </div>
					  <div class="col-sm-3 col-xs-6"> <i class="fa fa-circle fa-3x"></i>
						<h3 class="total-number-2"><?php echo getTotalUsers(2); ?></h3>
						<p><a href="<?php echo smoothLink('index.php?page=admin_users&online=1'); ?>">Online users</a></p>
					  </div>
					  <div class="col-sm-3 col-xs-6"> <i class="fa fa-female fa-3x"></i>
						<h3 class="total-number-3"><?php echo getTotalUsers(3); ?></h3>
						<p><a href="<?php echo smoothLink('index.php?page=admin_users&gender=0'); ?>">Total girls</a></p>
					  </div>
					  <div class="col-sm-3 col-xs-6"> <i class="fa fa-male fa-3x"></i>
						<h3 class="total-number-4"><?php echo getTotalUsers(4); ?></h3>
						<p><a href="<?php echo smoothLink('index.php?page=admin_users&gender=1'); ?>">Total boys</a></p>
					  </div>
					  <div class="col-sm-3 col-xs-6"> <i class="fa fa-camera fa-3x"></i>
						<h3 class="total-number-4"><?php echo getTotalPhotos(1); ?></h3>
						<p><a href="<?php echo smoothLink('index.php?page=admin_photos&view=all'); ?>">Total photos</a></p>
					  </div>
					  <div class="col-sm-3 col-xs-6"> <i class="fa fa-clock-o fa-3x"></i>
						<h3 class="total-number-4"><?php echo getTotalPhotos(2); ?></h3>
						<p><a href="<?php echo smoothLink('index.php?page=admin_photos&view=waiting'); ?>">Photos for review</a></p>
					  </div>				  
					</div>
				</div>
			  </div>
			</section>
		</div><!-- /content-wrap -->
	</div><!-- /container -->
</div>