<div class="content_sexy">
    <div class="content-wrap">
		<div class="content bg1" style="background:#222;">
			<div class="container no-padding">
				<div class="row no-padding ">    
					<div class="menuzord">
						<a href="<?php echo smoothLink('index.php?page=game'); ?>" class="logo"><img src="<?php echo $sm['config']['theme_url']; ?>/img/logo.png" width="290"></a>
						<ul class="menuzord-menu">
							<li ><a href="<?php echo smoothLink('index.php?page=game'); ?>" id="buscar"><i class="fa fa-star"></i> Sexy</a></li>
							<li ><a href="<?php echo smoothLink('index.php?page=meet'); ?>"><i class="fa fa-globe"></i> Meet</a></li>   
							<li ><a href="<?php echo smoothLink('index.php?page=chat'); ?>" id="mensajes_nuevos_icon" > <i class="fa fa-comment-o" ></i> Chat 
							<span id="mensajes_nuevos"></span></a></li>
							<li ><a href="<?php echo smoothLink('index.php?page=crushes'); ?>" id="likes_nuevos_icon"> <i class="fa fa-heart-o" ></i> Crushes 
							<span id="likes_nuevos"></span></a></li>
							<li class="active"><a href="<?php echo smoothLink('index.php?page=settings'); ?>"><i class="fa fa-cog"></i> Settings</a></li>
						</ul>
					</div>
				</div>
			</div>  	
			<section class="author" style="background-color: #111;">
			  <div class="container no-padding">
				<div class="row no-padding">        
					<div class="col-md-2" style="padding-top:26px;">
						<nav class="menu-side" style="width:100%;">   
							<a href="<?php echo smoothLink('index.php?page=admin'); ?>" style="color:#999;" ><i class="fa fa-fw fa-gear"></i>&nbsp;Site info</a>               
							<a href="<?php echo smoothLink('index.php?page=admin_users'); ?>" ><i class="fa fa-fw fa-user" ></i>&nbsp;Users info </a>			
							<a href="<?php echo smoothLink('index.php?page=admin_photos&view=all'); ?>" style="color:#999;"><i class="fa fa-fw fa-camera" ></i>&nbsp;Review Photos </a>                  
							<a href="<?php echo smoothLink('index.php?page=logout'); ?>" style="color:#999;"><i class="fa fa-fw fa-power-off" ></i>&nbsp;Logout </a>          
						</nav>
					</div> 	
					<div class="col-md-8 text-center" style="padding-top:26px; padding-left:25px; color: #fff; padding: 1.5em 0.5em 0;">
						<h3>Manage Users</h3>
						<div style="width:100%; padding-bottom:25px;">
							<form role="form" action="" method="post" id="search_user">
								<input type="text" class="form-control" name="search"  placeholder="Search for users by ID, NAME, EMAIL" required>
							</form>
						</div>
						<table class="table" style="width:100%">
						  <thead>
							<tr>
							  <th>ID</th>
							  <th></th>
							  <th>Name</th>							  
							  <th>Email</th>
							  <th>Option</th>
							</tr>
						  </thead>						  
						  <tbody>
							<?php
							if($_POST) {	
								echo findUsers($_POST['search']);
							} else if(!empty($_GET['gender'])) {
								echo findUsersByGender($_GET['gender']);	
							}
							 else if(!empty($_GET['online'])) {
								echo findUsersOnline();	
							} else {
								echo manageUsers(0,5000);	
							}?>
						  </tbody>						  
						</table>		
					</div>
				</div>
			  </div>
			</section>
		</div><!-- /content-wrap -->
	</div><!-- /container -->
</div>