<li>
	<a class="swipebox" href="#<?php echo $sm['user_crushes']['name']; ?>" 
	onclick="info_user_mobile(<?php echo $sm['user']['id']; ?>,<?php echo $sm['user_crushes']['id']; ?>,'<?php echo $sm['user_crushes']['name']; ?>','<?php echo $sm['user_crushes']['bio']; ?>','<?php echo $sm['user_crushes']['thumb']; ?>')"
	name="<?php echo $sm['user_crushes']['id']; ?>">													
	<img  src="<?php echo $sm['user_crushes']['thumb']; ?>"/></a>
</li>	