<div class="content_sexy">
    <div class="content-wrap">
		<div class="content bg1" style="background:#222;">
			<div class="container no-padding">
				<div class="row no-padding ">    
					<div class="menuzord">
						<a href="<?php echo smoothLink('index.php?page=game'); ?>" class="logo"><img src="<?php echo $sm['config']['theme_url']; ?>/img/logo.png" width="290"></a>
						<ul class="menuzord-menu">
							<li ><a href="<?php echo smoothLink('index.php?page=game'); ?>" id="buscar"><i class="fa fa-star"></i> <?php echo $lang['menu_sexy']; ?></a></li>
							<li ><a href="<?php echo smoothLink('index.php?page=meet'); ?>"><i class="fa fa-globe"></i> <?php echo $lang['menu_meet']; ?></a></li>   
							<li ><a href="<?php echo smoothLink('index.php?page=chat'); ?>" id="mensajes_nuevos_icon" > <i class="fa fa-comment-o" ></i> <?php echo $lang['menu_chat']; ?> 
							<span id="mensajes_nuevos"></span></a></li>
							<li ><a href="<?php echo smoothLink('index.php?page=crushes'); ?>" id="likes_nuevos_icon"> <i class="fa fa-heart-o" ></i> <?php echo $lang['menu_crushes']; ?>
							<span id="likes_nuevos"></span></a></li>
							<li class="active"><a href="<?php echo smoothLink('index.php?page=settings'); ?>"><i class="fa fa-cog"></i> <?php echo $lang['menu_settings']; ?></a></li>
						</ul>
					</div>
				</div>
			</div>       
			<section class="author" style="background-color: #111;">
			  <div class="container no-padding">
				<div class="row no-padding">        
					<div class="col-md-2" style="padding-top:26px;">
						<div class="640-content text-center">
								<div id="my_sexymetro" class="my_sexymetro_chart"></div>
								<p class="my_sexymetro_span"><?php echo $sm['user']['sexymetro']; ?></p>
								<img src="<?php echo $sm['user']['photo_small']; ?>" class="img-circle" style="overflow:hidden; height:122px; width:122px;">
								<h4 style="padding-top:10px;"><?php echo $sm['user']['name']; ?> </h4></center>
						</div>
						<nav class="menu-side" style="width:100%;">
							<?php if($sm['user']['admin'] == 1) { ?>    
							<a href="<?php echo smoothLink('index.php?page=admin'); ?>" style="color:#18a20a;" ><i class="fa fa-fw fa-gear"></i>&nbsp;Admin CP</a> 
							<?php } ?>			
							<a href="<?php echo smoothLink('index.php?page=settings'); ?>"  style="color:#999;"><i class="fa fa-fw fa-gear"></i>&nbsp;<?php echo $lang['menu_settings']; ?></a>               
							<a href="<?php echo smoothLink('index.php?page=add_photos'); ?>"  ><i class="fa fa-fw fa-camera" ></i>&nbsp;<?php echo $lang['menu_add_photos']; ?> </a> 
							<a href="<?php echo smoothLink('index.php?page=socials'); ?>" style="color:#999;"><i class="fa fa-fw fa-facebook-square" ></i>&nbsp;<?php echo $lang['menu_socials']; ?> </a>                  
							<a href="<?php echo smoothLink('index.php?page=change_password'); ?>" style="color:#999;"><i class="fa fa-fw fa-lock" ></i>&nbsp;<?php echo $lang['menu_change_password']; ?> </a> 
							<a href="<?php echo smoothLink('index.php?page=logout'); ?>" style="color:#999;"><i class="fa fa-fw fa-power-off" ></i>&nbsp;<?php echo $lang['menu_logout']; ?></a>        
						</nav>
					</div> 
					<div id="loader-wrapper">
					<i class="fa fa-camera" style="position:absolute; top:44%; color:#c32a51; left:43%; font-size:7.5em; "></i>
					<div id="loader"></div>
					</div>
					<div class="col-md-8" style="padding-top:26px; padding-left:55px;" id="add_photo_form">	
					<h2 class="text-center" style="color:#f0f0f0;"><?php echo $lang['menu_add_photos']; ?></h2>
					<div id="error_div"></div>   
						<div id="photos">  	              
							<div class="col-md-3  col-sm-4">
								<div class="quickView member" data-plugin="quickView">
									<div class="gallery" style="position:absolute; top:50px; left:20%; overflow:visible;">
										<a class="hint--bottom" data-hint="<?php echo $lang['upload_photo']; ?>" href="javascript:void(0)">
										<i class="fa fa-camera" id="preview_image" style="font-size:8em; color:#f0f0f0; text-align:center;" ></i></a>
									</div>										   
								</div>
							</div>
						<?php echo getUserPhotos($sm['user']['id'],0); ?>				
						</div>
					</div>
				</div>
			  </div>
			</section>
			<?php echo getPage('footer/content'); ?>			
		</div><!-- /content-wrap -->
	</div><!-- /container -->
<form enctype="multipart/form-data" name='imageform' role="form" id="add_photos" method="post" action="<?php echo $sm['config']['site_url']; ?>/assets/sources/ajaxImage.php">                  
<input type="file" name="photos[]" id="photoimg" multiple="true" />
</form> 
</div>