<div class="content_sexy">
    <div class="content-wrap">
		<div class="content bg1" style="background:#222;">
			<div class="container no-padding">
				<div class="row no-padding ">    
					<div class="menuzord">
						<a href="<?php echo smoothLink('index.php?page=game'); ?>" class="logo"><img src="<?php echo $sm['config']['theme_url']; ?>/img/logo.png" width="290"></a>
						<ul class="menuzord-menu">
							<li ><a href="<?php echo smoothLink('index.php?page=game'); ?>" id="buscar"><i class="fa fa-star"></i> <?php echo $lang['menu_sexy']; ?></a></li>
							<li ><a href="<?php echo smoothLink('index.php?page=meet'); ?>"><i class="fa fa-globe"></i> <?php echo $lang['menu_meet']; ?></a></li>   
							<li ><a href="<?php echo smoothLink('index.php?page=chat'); ?>" id="mensajes_nuevos_icon" > <i class="fa fa-comment-o" ></i> <?php echo $lang['menu_chat']; ?> 
							<span id="mensajes_nuevos"></span></a></li>
							<li ><a href="<?php echo smoothLink('index.php?page=crushes'); ?>" id="likes_nuevos_icon"> <i class="fa fa-heart-o" ></i> <?php echo $lang['menu_crushes']; ?>
							<span id="likes_nuevos"></span></a></li>
							<li class="active"><a href="<?php echo smoothLink('index.php?page=settings'); ?>"><i class="fa fa-cog"></i> <?php echo $lang['menu_settings']; ?></a></li>
						</ul>
					</div>
				</div>
			</div> 
			<?php if(empty($sm['user']['age']) || empty($sm['user']['lat'])) { ?>
				<div class="select_yes_or_no">
				<strong>Please fill all the required information for use <?php echo $sm['config']['site_name']; ?></strong></div>						
			<?php } ?>			
			<section class="author" style="background-color: #111;">
			  <div class="container no-padding">
				<div class="row no-padding">        
					<div class="col-md-2" style="padding-top:26px;">
						<div class="640-content text-center">
								<div id="my_sexymetro" class="my_sexymetro_chart"></div>
								<p class="my_sexymetro_span"><?php echo $sm['user']['sexymetro']; ?></p>
								<img src="<?php echo $sm['user']['photo_small']; ?>" class="img-circle" style="overflow:hidden; height:122px; width:122px;">
								<h4 style="padding-top:10px;"><?php echo $sm['user']['name']; ?> </h4></center>
						</div>
						<nav class="menu-side" style="width:100%;">
							<?php if($sm['user']['admin'] == 1) { ?>    
							<a href="<?php echo smoothLink('index.php?page=admin'); ?>" style="color:#18a20a;" ><i class="fa fa-fw fa-gear"></i>&nbsp;Admin CP</a> 
							<?php } ?>			
							<a href="<?php echo smoothLink('index.php?page=settings'); ?>"  ><i class="fa fa-fw fa-gear"></i>&nbsp;<?php echo $lang['menu_settings']; ?></a>               
							<a href="<?php echo smoothLink('index.php?page=add_photos'); ?>" style="color:#999;" ><i class="fa fa-fw fa-camera" ></i>&nbsp;<?php echo $lang['menu_add_photos']; ?> </a> 
							<a href="<?php echo smoothLink('index.php?page=socials'); ?>" style="color:#999;"><i class="fa fa-fw fa-facebook-square" ></i>&nbsp;<?php echo $lang['menu_socials']; ?> </a>                  
							<a href="<?php echo smoothLink('index.php?page=change_password'); ?>" style="color:#999;"><i class="fa fa-fw fa-lock" ></i>&nbsp;<?php echo $lang['menu_change_password']; ?> </a> 
							<a href="<?php echo smoothLink('index.php?page=logout'); ?>" style="color:#999;"><i class="fa fa-fw fa-power-off" ></i>&nbsp;<?php echo $lang['menu_logout']; ?></a>        
						</nav>
					</div> 
					<div class="col-md-8" style="padding-top:26px; padding-left:25px;">	
					<h3 class="text-center" style="color:#f0f0f0;"><?php echo $lang['required_info']; ?></h3>
							<form class="form-horizontal" id="update" method="post">				 
							  <div class="form-group">
								<label class="col-sm-2 control-label"><?php echo $lang['form_name']; ?>:</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" name="nickname" value="<?php echo $sm['user']['name']; ?>" required>   
									<input  style="display:none;" name="uid" type="hidden" value="<?php echo $sm['user']['id']; ?>"> 									
								</div>
							  </div>
							  <div class="form-group">
								<label class="col-sm-2 control-label"><?php echo $lang['form_email']; ?>:</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" name="email" value="<?php echo $sm['user']['email']; ?>" required>     
								</div>
							  </div>
							  <div class="form-group">
								<label class="col-sm-2 control-label"><?php echo $lang['form_city']; ?>:</label>
								<div class="col-sm-10">
								 <input type="text" class="form-control" name="city" id="geo" value="<?php echo $sm['user']['loc']; ?>"  required>
								 <input  style="display:none;" name="lat" type="hidden" value="<?php echo $sm['user']['lat']; ?>">                         
								 <input  style="display:none;" name="lng" type="hidden" value="<?php echo $sm['user']['lng']; ?>"> 
								 <input  style="display:none;" name="formatted_address" type="hidden" value="<?php echo $sm['user']['loc']; ?>">                                           
								</div>
							  </div>  
							  <div class="form-group">
								<label class="col-sm-2 control-label"><?php echo $lang['form_age']; ?>:</label>
								<div class="col-sm-10">
								  <input type="number" class="form-control"  min="18" max="99" maxlength="2" name="age" value="<?php echo $sm['user']['age']; ?>" required>      
								</div>
							  </div> 
							  <div class="form-group">
								<label class="col-sm-2 control-label"><?php echo $lang['form_gender']; ?>:</label>
								<div class="col-sm-10">
								  <select  class="form-control" name="gender"  >
								  <?php if ($sm['user']['gender'] == 1)
								  {
									  echo'<option value="1">'.$lang['form_gender_male'].'</option>';
									  echo'<option value="0">'.$lang['form_gender_female'].'</option>';
								  }
								  else
								  {
									  echo'<option value="0">'.$lang['form_gender_female'].'</option>';
									  echo'<option value="1">'.$lang['form_gender_male'].'</option>';
									  
								  }
								  ?>                  
								  </select>     
								</div>
							  </div> 				
							  <div class="form-group">
								<label class="col-sm-2 control-label"><?php echo $lang['form_bio']; ?>:</label>
								<div class="col-sm-10">
								  <textarea type="text" class="form-control" name="bio" required><?php echo $sm['user']['bio']; ?></textarea>    
								</div>
							  </div>
							  <hr>
							  <div class="form-group">
								<label class="col-sm-2 control-label"><?php echo $lang['form_looking']; ?>:</label>
								<div class="col-sm-10">
								  <select  class="form-control" name="looking"  >
								  <?php if ($sm['user']['looking'] == 1)
								  {
									  echo'<option value="1">'.$lang['form_looking_boys'].'</option>';
									  echo'<option value="0">'.$lang['form_looking_girls'].'</option>';
								  }
								  else
								  {
									  echo'<option value="0">'.$lang['form_looking_girls'].'</option>';
									  echo'<option value="1">'.$lang['form_looking_boys'].'</option>';
									  
								  }
								  ?>
								  </select>
									
								</div>
							  </div>   
							  <hr>                      
							  <div class="form-group">
								<div class="col-sm-offset-3 col-sm-9">
								  <button type="submit" class="btn btn-1" id="upd_btn"><?php echo $lang['upd_btn']; ?></button>
								</div>
							  </div>
							</form>

					</div>
				   
				   
				</div>
			  </div>
			</section>

			<?php echo getPage('footer/content'); ?>
			</div><!-- /content-wrap -->
		</div><!-- /container -->


</div>
