						<div class="col-md-3  col-sm-4">
							<div class="quickView member" data-plugin="quickView">
								<div class="gallery">
									<a class="preview" href="#">
									<img data-quick-view="previewImage" src="<?php echo $sm['user_photos']['thumb']; ?>"/></a>
								</div>
								<ul style="position:absolute;top:0px; left:15px; background: rgba(0,0,0,0.4); width:230px; height:40px; ">
									<li>
									<?php 
									if($sm['user_photos']['status'] == 2)
									{
										echo'<a href="javascript: void(0);" style="color:#fc1f1f;font-size:1.5em;"
										class="hint--bottom hint--danger" data-hint="'.$lang['inappropriate_photo'].'">
										<i class="fa fa-fw fa-ban"></i></a>';	
									}
									else if($sm['user_photos']['status'] == 0) 
									{
										echo'<a href="javascript: void(0);" style="color:#f0f0f0;font-size:1.5em;"
										class="hint--bottom" data-hint="'.$lang['revision_photo'].'">
										<i class="fa fa-fw fa-clock-o"></i></a>';										
									}
									else
									{
										echo'<a href="javascript: void(0);" style="color:#da0038;font-size:1.5em;"
										id="profile'.$sm['user_photos']['id'].'" title="'.$sm['user_photos']['id'].'" class="hint--bottom" data-hint="'.$lang['select_as_profile'].'">
										<i class="fa fa-fw fa-camera"></i></a>';
										
									}
									?>
									<a href="javascript: void(0);" style="color:#fff;font-size:1.5em;" id="delete<?php echo $sm['user_photos']['id']; ?>" title="<?php echo $sm['user_photos']['id']; ?>"
									class="hint--bottom" data-hint="<?php echo $lang['delete_photo']; ?>">
									<i class="fa fa-fw fa-trash-o"></i></a></li>
								</ul>											   
							</div>
						</div>