<div class="content_sexy">
    <div class="content-wrap">
		<div class="content bg1" style="background:#222;">
			<div class="container no-padding">
				<div class="row no-padding ">    
					<div class="menuzord">
                    <a href="index.php" class="logo"><img src="<?php echo $sm['config']['theme_url']; ?>/img/logo.png" width="290"></a>
                    <ul class="menuzord-menu">
                    <li class="active"><a href="index.php" id="buscar"><i class="fa fa-star"></i> <?php echo $lang['menu_sexy']; ?></a></li>
                    <li ><a href="meet.php"><i class="fa fa-globe"></i> <?php echo $lang['menu_meet']; ?></a></li>   
                    <li ><a href="chat.php" id="mensajes_nuevos_icon" > <i class="fa fa-comment-o" ></i> <?php echo $lang['menu_chat']; ?> 
                    <span id="mensajes_nuevos"></span></a></li>
                    <li ><a href="likes.php" id="likes_nuevos_icon"> <i class="fa fa-heart-o" ></i> <?php echo $lang['menu_crushes']; ?>
                    <span id="likes_nuevos"></span></a></li>
                    <li ><a href="preferences.php"><i class="fa fa-cog"></i> <?php echo $lang['menu_settings']; ?></a></li>
                    </ul>
				</div>
			</div>
		</div>