
/*//////*/
/*Header*/
/*//////*/

.header{
	-webkit-transform: translateZ(0);
	position:fixed;
	height:60px;
	width:100%;
	z-index:99999;
	top:0px;
	background-color:#111;
	border-bottom:solid 1px rgba(0,0,0,0.1);
}

/*//////*/
/*footer*/
/*//////*/

.footer{
	-webkit-transform: translateZ(0);
	position:fixed;
	height:60px;
	width:100%;
	z-index:99999;
	bottom:0px;
	background-color:#111;
	border-bottom:solid 1px rgba(0,0,0,0.1);
}


/*//////*/
/*Galleria*/
/*//////*/
#galleria{
	 width:100%; 
	 background-color:#111;
	 }

.active-item{
	color:#e74c3c!important;	
}

#showMenu{
	position:absolute;
	z-index:9999;
	width:60px;
	height:60px;
	left:0px;
	top:0px;
	line-height:60px;	
	text-align:center;
	color:#f0f0f0;
	font-size:14px;
}

#go_chat{
	position:absolute;
	z-index:9999;
	width:60px;
	height:60px;
	top:0px;
	right:0px;
	line-height:60px;	
	text-align:center;
	color:#f0f0f0;
	font-size:14px;
}

#sexy_yes{
	position:absolute;
	z-index:9999;
	width:100px;
	height:60px;
	left:0px;
	top:0px;
	line-height:60px;	
	text-align:center;
	color:#1f1f1f;
}

#pageLogo img{
	position:relative;
	width:180px;
	margin-left:auto;
	margin-right:auto;
	margin-top:8px;	
}
#name{
	position:absolute;
	width:100%;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	font-size:18px;
}

/* BUTON SEXY */
/* General button style (reset) */
.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 10px 15px;
	display: inline-block;
	margin: 5px 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Button 2 */
.btn-2 {
	background: #cb4e4e;
	color: #fff;
	box-shadow: 0 6px #ab3c3c;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

/* Button 2a */
.btn-2a {
	border-radius: 0 0 5px 5px;
}

.btn-2a:hover {
	box-shadow: 0 4px #ab3c3c;
	top: 2px;
}

.btn-2a:active {
	box-shadow: 0 0 #ab3c3c;
	top: 6px;
}

/* Button 2b */
.btn-2b {
	border-radius: 0 0 5px 5px;
}

.btn-2b:hover {
	box-shadow: 0 8px #ab3c3c;
	top: -2px;
}

.btn-2b:active {
	box-shadow: 0 0 #ab3c3c;
	top: 6px;
}

/* Button 2c */
.btn-2c {
	border-radius: 5px;
}

.btn-2c:hover {
	box-shadow: 0 4px #ab3c3c;
	top: 2px;
}

.btn-2c:active {
	box-shadow: 0 0 #ab3c3c;
	top: 6px;
}

/* Button 2d */
.btn-2d {
	border-radius: 5px;
}

.btn-2d:hover {
	box-shadow: 0 8px #ab3c3c;
	top: -2px;
}

.btn-2d:active {
	box-shadow: 0 0 #ab3c3c;
	top: 6px;
}

/* Button 2e */
.btn-2e {
	border-radius: 5px;
	box-shadow: -6px 0 #ab3c3c;
}

.btn-2e:hover {
	box-shadow: -4px 0 #ab3c3c;
	left: -2px;
}

.btn-2e:active {
	box-shadow: 0 0 #ab3c3c;
	left: -6px;
}

/* Button 2f */
.btn-2f {
	border-radius: 5px;
	box-shadow: 6px 0 #ab3c3c;
}

.btn-2f:hover {
	box-shadow: 4px 0 #ab3c3c;
	left: 2px;
}

.btn-2f:active {
	box-shadow: 0 0 #ab3c3c;
	left: 6px;
}

/* Button 2g */
.btn-2g {
	border-radius: 40px;
}

.btn-2g:hover {
	box-shadow: 0 4px #ab3c3c;
	top: 2px;
}

.btn-2g:active {
	box-shadow: 0 0 #ab3c3c;
	top: 6px;
}

/* Button 2g */
.btn-2gg {
	border-radius: 40px;
	box-shadow: 0 6px #5c1d64;	
	background-color:#852591;
}

.btn-2gg:hover {
	box-shadow: 0 4px #3c4eab;
	top: 2px;
}

.btn-2gg:active {
	box-shadow: 0 0 #3c4eab;
	top: 6px;
}


/* Button 2h */
.btn-2h {
	border-radius: 20px;
}

.btn-2h:hover {
	box-shadow: 0 4px #ab3c3c;
	top: 2px;
}

.btn-2h:active {
	box-shadow: 0 0 #ab3c3c;
	top: 6px;
}

/* Button 2i */
.btn-2i {
	border-radius: 50%;
	width: 90px;
	height: 90px;
	padding: 0;
}

.btn-2i:hover {
	box-shadow: 0 4px #ab3c3c;
	top: 2px;
}

.btn-2i:active {
	box-shadow: 0 0 #ab3c3c;
	top: 6px;
}

/* Button 2j */
.btn-2j {
	border-radius: 50%;
	width: 90px;
	height: 90px;
	padding: 0;
}

.btn-2j:hover {
	box-shadow: 0 8px #ab3c3c;
	top: -2px;
}

.btn-2j:active {
	box-shadow: 0 0 #ab3c3c;
	top: 6px;
}

#sexy_no{
	position:absolute;
	z-index:99999;
	width:100px;
	height:60px;
	right:0px;
	top:0px;
	line-height:60px;
	text-align:center;
	color:#1f1f1f;
}

/*Thumbnails Columns*/

.thumb-clear{
	height:40px;
	display:block;
	width:100%;
}

.thumb-left{
	line-height:24px;
	display:block;
	padding-bottom:10px;
}

.thumb-left a{
	display:block;
	text-align:right;
}

.thumb-left img{
	width:100px;
	height:100px;
	border-radius:100px;
	float:left;
	margin-right:20px;
	margin-top:10px;
}

.thumb-left strong{
	color:#1a1a1a;
	display:inline-block;
	padding-bottom:5px;
	font-size:14px;
}

.thumb-left em{
	font-style:normal;
	line-height:30px;
}

.thumb-right{
	line-height:24px;
	display:block;
	padding-bottom:10px;
}

.thumb-right img{
	width:100px;
	height:100px;
	border-radius:100px;
	float:right;
	margin-left:20px;
	margin-top:10px;
}

.thumb-right strong{
	color:#1a1a1a;
	display:inline-block;
	padding-top:5px;
	padding-bottom:5px;
	font-size:13px;
}

.thumb-right em{
	font-style:normal;
	line-height:30px;
}


@media (min-width:768px){
	.thumb-left img{
		width:140px;
		height:140px;
		border-radius:150px;	
	}
	
	.thumb-left em{
		line-height:28px;	
	}
	
	.thumb-left strong{
		padding-top:10px;	
	}
	
	.thumb-right img{
		width:140px;
		height:140px;
		border-radius:150px;	
	}
	
	.thumb-right em{
		line-height:28px;	
	}
	
	.thumb-right strong{
		padding-top:10px;	
	}	
}

/*Content Heading*/
/*///////////////*/

.content-strip{
	margin-bottom:30px;	
}

.content-strip h4{
	color:#FFFFFF;
	position:absolute;	
	z-index:9999;
	text-transform:uppercase;
	margin-top:27px;
	padding-left:30px;
}

.content-strip{
	max-height:100px;	
}

.content-strip p{
	color:#FFFFFF;
	position:absolute;	
	z-index:999;
	margin-top:48px;
	padding-left:30px;
	opacity:0.5;
}

.content-strip .overlay{
	z-index:99;
	background-color:rgba(0,0,0,0.8);
}

.content-strip i{
	font-size:32px;
	position:absolute;
	color:#FFFFFF;
	right:30px;	
	z-index:999;
	margin-top:36px;
}

.content-strip img{
	width:100%;
	display:block;
	position:relative;
	z-index:2;
}

@media (min-width:768px){
	.content-strip{
		max-height:140px;	
	}
	
	.content-strip h4{
		font-size:20px;	
		margin-top:45px;
		padding-left:50px;
	}
	
	.content-strip p{
		font-size:13px;	
		margin-top:75px;
		padding-left:50px;
	}
	
	.content-strip i{
		font-size:40px;
		margin-top:53px;
		right:50px;	
	}
}

/*///////*/
/*Heading*/
/*///////*/

.page-heading h3{
	text-align:center;
	font-weight:300;
}

.page-heading p{
	font-size:15px;
	font-weight:300;
	text-align:center;
	margin-bottom:10px;
}

.page-heading a{
	text-align:center;
	font-size:13px;
}


/*////////////////////*/
/*Quote & Staff Slider*/
/*////////////////////*/

.staff-item img{
	border-radius:300px;	
	max-width:150px;
	margin-left:auto;
	margin-right:auto;
}

.staff-item h4{
	text-align:center;
	margin-top:20px;	
	font-size:16px;
}

.staff-item em{
	text-align:center;
	font-size:12px;
	color:#e34e47;
	display:block;
	margin-top:-10px;
	margin-bottom:10px;
	font-style:normal;
}

.staff-item strong{
	display:block;	
	font-weight:400;
	text-align:center;
	padding-left:20px;
	padding-right:20px;
	line-height:28px;
}

.small-text{
	display:block;
	margin-top:-10px;
	color:#e34e47;
	margin-bottom:10px;	
}


/*Footer*/

.footer-text{
	text-align:center;
	font-size:12px;
	opacity:0.8;
}

.footer-icons{
	width:180px;
	margin:0 auto;
	padding-bottom:30px;	
}

.footer-icons a:hover{
	color:#FFFFFF;	
}

.footer-icons a{
	font-size:12px;
	width:35px;
	height:35px;
	border-radius:30px;
	text-align:center;
	float:left;	
	margin-left:5px;
	margin-right:5px;
}

.footer-facebook-icon{
	background-color:#3B5998;
	color:#FFFFFF;
	line-height:35px;
}

.footer-twitter-icon{
	background-color:#4099FF;
	color:#FFFFFF;
	line-height:35px;	
}

.footer-google-icon{
	background-color:#d34836;
	color:#FFFFFF;
	line-height:36px;	
	font-size:14px!important;
}

.footer-up-icon{
	background-color:#27ae60;
	color:#FFFFFF;
	line-height:33px;
	font-size:15px!important;	
	padding-left:1px;
}



/*Quote Slider*/

.quote-slider h4{
	font-size:16px;
	font-weight:300;	
	width:80%;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	line-height:30px;
}

.quote-slider a{
	text-align:center;
	margin-top:20px;	
}









