<?php 
$uid = $_GET['id'];
$uid = secureEncode($uid);
getUserInfo($uid,1);
?>
<style>
#carousel .item{
	margin: 0px;
}
#carousel .item img{

	width: 100%;
	height: 180px;
}
</style>
    <div class="perspective_container" style="background:#222;">
        <div class="wrapper">
        <div class="profile-header full-bottom" >
            <div class="profile-header-contents" id="prof" style="background-image:url(<?php echo $sm['config']['theme_url']; ?>/pattern/<?php echo $sm['profile']['pattern']; ?>.jpg);background-repeat:repeat;">
                <img class="profile-header-logo" src="<?php echo $sm['profile']['photo_small']; ?>" alt="img">
                <h4 class="profile-header-heading"><?php echo $sm['profile']['name'].", ".$sm['profile']['age']." ".status($sm['profile']['id'],14); ?></h4>
                <em class="profile-header-subheading"><?php echo $sm['profile']['bio']; ?></em>
                <div class="profile-header-socials">
				<?php 
                if($sm['profile']['facebook'] != "")
                {
                    echo'
                    <a href="http://www.facebook.com/'.$sm['profile']['facebook'].'" target="_blank">
                        <i class="fa fa-facebook"></i>
                        /'.$sm['profile']['facebook'].'
                    </a>					';
                }  
                if($sm['profile']['twitter'] != "")
                {
                    echo'
                    <a href="http://www.twitter.com/'.$sm['profile']['twitter'].'" target="_blank">
                        <i class="fa fa-twitter"></i>
                        /'.$sm['profile']['twitter'].'
                    </a>					';
                }?>
                    <a href="#" id="photos_show">
                        <i class="fa fa-camera"></i>
                        <?php echo  $sm['profile']['total_photos']; ?>
                    </a>
                 <?				
                if($sm['profile']['skype'] != "")
                {
                    echo'
                    <a href="#">
                        <i class="fa fa-skype"></i>
                        '.$sm['profile']['skype'].'
                    </a>					';
                } 
                if($sm['profile']['whatsapp'] != "")
                {
                    echo'
                    <a href="#">
                        <i class="fa fa-mobile"></i>
                        '.$sm['profile']['whatsapp'].'
                    </a>					';
                } 				
				?>                                                                            
                </div>
            </div>
            <div class="profile-header-background"></div>
            <div class="profile-header-overlay"></div>
        </div>
        <div class="footer" id="footer">
       		 <?
			 $check = alreadyVoted($sm['user']['id'],$sm['profile']['id']);
			 if($check == 1){
			?>        
			<div id="sexy_yes"><button id="sexy_id" name="<?php echo $sm['profile']['id']; ?>" style="opacity:0.3"  title="<?php echo $sm['profile']['name']; ?>"
             class="btn btn-2 btn-2g disabled" >Yes</button></div>
             <span id="name">You already voted ^^</span>          
			<div id="sexy_no"><button class="btn btn-2 btn-2gg disabled" style="opacity:0.3">No</button></div>
			
			<?php } else if ($check == 2) {?>  
				
			<?php } else {?>          
            <div id="sexy_yes"><button id="sexy_id" name="<?php echo $sm['profile']['id']; ?>"  title="<?php echo $sm['profile']['name']; ?>"
             class="btn btn-2 btn-2g" onClick="profile_sexy_yes_mobile(<?php echo $sm['user']['id']; ?>)" >Yes</button></div>
            <span id="name">Is <?php echo $sm['profile']['name']; ?> sexy??</span>
            <div id="sexy_no"><button class="btn btn-2 btn-2gg" onClick="profile_sexy_no_mobile(<?php echo $sm['user']['id']; ?>)">No</button></div>
            <?php } ?> 
        </div>
		<div id="galleria" style="position:absolute; top:60px; left:0; display:none; z-index:9999;">
			<?php echo userGalleria($sm['profile']['id']); ?>
		</div>		
        </div><!-- wrapper -->
       
    </div><!-- /perspective container -->
	