<!DOCTYPE html>
<html>
<head>
<title><?php echo $sm['config']['site_title']; ?></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui"/>	
<link href="<?php echo $sm['config']['theme_url']; ?>/css/styles.min.css" rel="stylesheet">
<link href="<?php echo $sm['config']['theme_url']; ?>/css/main.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/normalize.css" />
<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/menu_sideslide.css" />
<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/ns-default.css" />
<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/ns-style-other.css" />
<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/menuzord.css">
<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/menuzord-dark.css">    
<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/component.css" />
<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/sweet-alert.css">
<link href="<?php echo $sm['config']['theme_url']; ?>/css/owl.carousel.css" rel="stylesheet">
<link href="<?php echo $sm['config']['theme_url']; ?>/css/owl.theme.css" rel="stylesheet">
<style>
#carousel .item{
	margin: 0px;
}
#carousel .item img{

	width: 100%;
	height: 180px;
}
</style>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css">
</head>
<body>
<div class="content_sexy">
	<div class="content-wrap">
		<div class="select_yes_or_no" id="response" style="display:none;"></div>  
		<section class="author" style="background-color: #111;">
		  <div class="container">
			<div class="row">        
				<div class="col-md-12 col-sm-12" style="padding-top:26px; padding-left:20px;padding-right:20px;">
				<center><a href="<?php echo smoothLink('mobile.php?page=preview'); ?>"><img src="<?php echo $sm['config']['theme_url']; ?>/img/logo.png"></a>
				<p><?php echo $lang['login_subtitle']; ?></p>	
			
				<form class="form-horizontal" id="login" method="post">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="<?php echo $lang['form_email']; ?>" name="email" required>     
				</div>

				<div class="form-group">
				  <input type="password" class="form-control" placeholder="<?php echo $lang['form_password']; ?>" name="pass"  required>   
				</div>  
						
				<div class="form-group">
				  <button type="submit" class="btn btn-1" id="login_btn"><?php echo $lang['form_login_btn']; ?></button>
				</div>
				</form>

				</div>      
			</div>
		  </div>
		</section> 
		<div class="connect_facebook">
			<a href="<?php echo smoothLink('index.php?page=fbconnect'); ?>" style="color:#FFF;"><strong><i class="fa fa-facebook-square"></i> <?php echo $lang['connect_facebook']; ?></strong></a>
		</div>	
	</div><!-- /content-wrap -->
</div><!-- /container -->
</div>
<div style="display:none;"><audio id="noti_audio" src="noti.mp3" preload="auto"></audio></div>    
<script type="text/javascript" src="<?php echo $sm['config']['theme_url']; ?>/js/jquery-2.1.1.min.js"></script> <!-- JQUERY -->
<script src="<?php echo $sm['config']['theme_url']; ?>/js/sweet-alert.js"></script> 
<script> 
<!-- LOGIN FORM -->  	
$(function(){
	$('#login').submit(function(e) {
		e.preventDefault();
		var findme = "Error";
		var admin = "admin";
		$.ajax({
			data:  $(this).serialize(),
			url:   '<?php echo $sm['config']['site_url']; ?>/requests/login.php',
			type:  'post',
			beforeSend: function () {
				$("#login_btn").html("<?php echo $lang['btn_working']; ?>");
			},			
			success:  function (response) {
				<!-- CHECK IF WRONG -->  	
				if ( response.indexOf(findme) > -1 ) 
				{
					swal({
						title: "Error!",
						text: response,
						type: "error",
					});		
					$("#login_btn").html("<?php echo $lang['form_login_btn']; ?>");
				}
				<!-- REDIRECT IF ALL OK --> 				
				else
				{
					window.location='mobile.php?page=game';	
				}
			}
		});					

	});
});		
</script>    
</body>
</html>
