<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN"><html><head><title>$user_name likes you and wants to chat in $site_name!</title>
</head>
<body topmargin='0' bottommargin='0' align='center' leftmargin='0' rightmargin='0' style='-webkit-font-smoothing: antialiased;width:100% !important;background:#f3f3f3;-webkit-text-size-adjust:none;color: #333333;font-size:16px;font-family:Helvetica Nueue, Helvetica, Arial, sans-serif;'>
<table class="table" align="center" width="640" cellpadding="0" cellspacing="0" style="width: 640px; background: #FFFFFF;">
<tr>
<td height="5" style="background: #9c00e5; width:100%;"></td>
</tr>
<tr>
<td height="20"></td>
</tr>
<tr>
<td valign="top" style="padding: 0 20px;">
<table width="100%" cellpadding="0" cellspacing="0">
<tr>
<td style="width: 100px;">
<a href="$site_url" style="text-decoration: none; border: 0;">
<img src="$user_photo" alt=" " style="height: 100px; width: 100px;" valign="middle" border="0" />
</a>
</td>
<td width="20"></td>
<td valign="top">
<p style="font-family: Helvetica Nueue, Helvetica, Arial, sans-serif; font-size: 18px;margin: 0; padding-bottom: 20px; color: #333333;">
<a href="$user_url" style="color: #1155cc; font-weight: bold; text-decoration: none;">$user_name</a>, $user_age, has seen you in discover and likes. The feeling is mutual?
</p>

<table cellspacing="0" cellpadding="0">
<tr>
<td bgcolor="#178ef5" valign="middle" style="background:#56c218; border-bottom:3px solid #dddddd;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;">
<a href="$user_url" style="color:#FFFFFF;font-size:16px;line-height:16px;text-decoration:none;padding: 10px 15px;display:block;font-weight: bold;">
Find out if you also like $user_name</a>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td height="20"></td>
</tr>
<tr>
<td height="20"></td>
</tr>
<tr>
<td height="1">
<table width="100%" cellpadding="0" cellspacing="0" height="1">
<tr>
<td width="20"></td>
<td width="540" height="1" style="background: #e6e6e6;"></td>
<td width="20"></td>
</tr>
</table>
</td>
</tr>


<tr>
<td height="20"></td>
</tr>
<tr>
<td style="font-size:10px; color:#333333; padding:0 20px;">
<a href="$site_url">
<img src="$site_email/img/logo.png" alt="$site_name" style="display: block;"  border="0"  />
</a>
</td>
</tr>
<tr>
<td height="10"></td>
</tr>
<tr>
<td colspan="4" width="100%" style="font-family: Arial,Helvetica,sans-serif;font-size: 11px;color: #777777;padding:0 20px;">
You received this notice because you registered as $sexy_name (<a href="$site_url" style="color: #1155cc;">$sexy_email</a>) <a href="$site_url" style="color: #1155cc;">Unsubscribe</a>.

</td>
</tr>
<tr>
<td height="20"></td>
</tr>
<tr>
<td height="20" style="background-color: #f3f3f3;"></td>
</tr>
</table>
</body>
</html>