<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN"><html><head><title>Choose a new password for $site_name</title>

</head><body topmargin='0' bottommargin='0' align='center' leftmargin='0' rightmargin='0' style='-webkit-font-smoothing: antialiased;width:100% !important;background:#FFFFFF;-webkit-text-size-adjust:none;font-family: Arial,Helvetica,sans-serif;color:#333;'>
<table class="table" align="left" width="100%" cellpadding="0" cellspacing="0" >
<tr>
<td>
<table class="table" align="center" width="100%" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif;background-color:#FFFFFF;border-top:3px solid #9c00e5; text-align: left">
<tr>
<td height="20"></td>
</tr>
</table>
</td>
</tr>
<tr>
<td>
<table cellspacing="0" cellpadding="0">
<tr>
<td style="padding-left: 10px; padding-right: 10px;">
<span style="font-size: 18px;">
Hi $user_name. If you forgot your password, click on the link below to get a new:
</span>
</td>
</tr>
<tr>
<td height="20"></td>
</tr>
<tr>
<td style="padding-left:10px;">
<table cellspacing="0" cellpadding="0">
<tr>
<td bgcolor="#46B501" valign="middle" style="background:#46B501; border-bottom:3px solid #336600;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;">
<a href="$user_url" style="color:#ffffff;font-size:16px;line-height:20px;text-decoration:none;padding:10px 15px;display:block;font-weight:bold">
Choose a new password
</a>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td height="10"></td>
</tr>
</table>
</td>
</tr>

<tr>
<td height="20"></td>
</tr>
<tr>
<td height="1" style="border-top:1px solid #e6e6e6; width:100%;"></td>
</tr>
<tr>
<td height="20"></td>
</tr>
<tr>
<td style="font-size:10px; color:#333333; padding:0 20px;">
<a href="$site_url">
<img src="$site_email/img/logo.png" alt="$site_name" style="display: block;"  border="0"  />
</a>
</td>
</tr>
<tr>
<td height="10"></td>
</tr>
<tr>
<td colspan="4" width="100%" style="font-family: Arial,Helvetica,sans-serif;font-size: 11px;color: #777777;padding:0 20px;">
You received this notice because you registered as $user_name (<a href="$site_url" style="color: #1155cc;">$user_email</a>) <a href="$site_url" style="color: #1155cc;">Unsubscribe</a>.

</td>
</tr>
<tr>
<td height="20"></td>
</tr>
<tr>
<td height="20" style="background-color: #f3f3f3;"></td>
</tr>
</table>
</body>
</html>