						<div class="col-md-3  col-sm-4">
							<div class="quickView member" data-plugin="quickView">
								<div class="gallery">
									<a class="preview" href="#">
									<img data-quick-view="previewImage" src="<?php echo $sm['admin_photos']['thumb']; ?>"/></a>
								</div>
								<ul style="position:absolute;top:0px; left:15px; background: rgba(0,0,0,0.4); width:230px; height:40px; ">
									<li>
									<?php 
									if($sm['admin_photos']['status'] == 2)
									{
										echo'<a href="javascript: void(0);" style="color:#fc1f1f;font-size:1.5em;"
										class="hint--bottom hint--danger" data-hint="inappropriate photo">
										<i class="fa fa-fw fa-ban"></i></a>';	
									}
									else if($sm['admin_photos']['status'] == 0) 
									{
										echo'<a href="javascript: void(0);" style="color:#f0f0f0;font-size:1.5em;"
										class="hint--bottom" data-hint="waiting for aproval">
										<i class="fa fa-fw fa-clock-o"></i></a>
										
										<a href="javascript: void(0);" 
										id="aprove'.$sm['admin_photos']['id'].'" title="'.$sm['admin_photos']['id'].'"
										style="color:#19a20a;font-size:1.5em;" class="hint--bottom" data-hint="Aprove photo">
										<i class="fa fa-fw fa-check"></i></a>
										
										<a href="javascript: void(0);" style="color:#fc1f1f;font-size:1.5em;"
										id="unaprove'.$sm['admin_photos']['id'].'" title="'.$sm['admin_photos']['id'].'"
										class="hint--bottom hint--danger" data-hint="unaprove photo">
										<i class="fa fa-fw fa-ban"></i></a>';										
									}
									else
									{
										echo'<a href="javascript: void(0);" 
										style="color:#19a20a;font-size:1.5em;" class="hint--bottom" data-hint="Aproved photo">
										<i class="fa fa-fw fa-check"></i></a>';
										
									}
									?>
									<a href="javascript: void(0);" style="color:#fff;font-size:1.5em;" id="admin_delete<?php echo $sm['admin_photos']['id']; ?>" title="<?php echo $sm['admin_photos']['id']; ?>"
									class="hint--bottom" data-hint="Delete photo">
									<i class="fa fa-fw fa-trash-o"></i></a></li>
								</ul>											   
							</div>
						</div>