<?php 
//GET RANDOM USER TO SHOW
$random = array();
$random = getRandomUser( TRUE ); 
?>
<head>
    <meta charset="utf-8">
    <title><?php echo $sm['config']['site_title']; ?></title>
	<link href="<?php echo $sm['config']['theme_url']; ?>/css/styles.min.css" rel="stylesheet">
	<link href="<?php echo $sm['config']['theme_url']; ?>/css/main.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/menu_sideslide.css" />
	<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/ns-default.css" />
	<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/ns-style-other.css" />
	<link href="<?php echo $sm['config']['theme_url']; ?>/css/quick-view-meet.css" rel="stylesheet" media="screen" type="text/css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/menuzord.css">
	<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/menuzord-dark.css">    
	<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/component.css" />
	<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/sweet-alert.css">
	<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/sweet-tooltip.css">
	<link rel="stylesheet" href="<?php echo $sm['config']['theme_url']; ?>/css/hint.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css">
</head>
<body>
<?php echo getPage('header/content-preview'); ?>
			<section class="author" style="background-color: #111;">
			  <div class="container no-padding">
				<div class="row no-padding">        
					<div class="col-md-2" style="padding-top:26px;">
						<div class="640-content text-center">
							<div id="my_sexymetro" class="my_sexymetro_chart"></div>
							<p class="my_sexymetro_span">0.0</p>
							<img src="<?php echo $sm['config']['theme_url']; ?>/img/no_user.jpg" class="img-circle" style="overflow:hidden; height:122px; width:122px;">
							<h4 style="padding-top:10px;"><?php echo $lang['preview_visitor']; ?> </h4></center>
						</div>
						<nav class="menu-side" style="width:100%;">
							<a href="<?php echo smoothLink('index.php?page=preview'); ?>" ><i class="fa fa-fw fa-star"></i>&nbsp;<?php echo $lang['menu_sexy']; ?></a>
							<a href="<?php echo smoothLink('index.php?page=account'); ?>"  style="color:#999;"><i class="fa fa-fw fa-plus-square "></i>&nbsp;<?php echo $lang['menu_create_account']; ?></a>               
							<a href="<?php echo smoothLink('index.php?page=login'); ?>" style="color:#999;"><i class="fa fa-fw fa-user" ></i>&nbsp;<?php echo $lang['menu_login']; ?> </a>       
						</nav>
					</div>   
					<div class="col-md-6 text-center no-padding" >
						<div id="galleria" style="display:none">	
							<?php echo userGalleria($random['id']); ?>
						</div>
					</div>
					<div class="col-md-4 text-center max-h-640" style="background:url(<?php echo $sm['config']['theme_url']; ?>/pattern/0.jpg) repeat;">
						<h2 class="sexy_name" id="name"><?php echo $random['name']; ?>,<?php echo $random['age']; ?></h2>
						<p style="color:#f3f3f3;"><span id="bio"><?php echo $random['bio']; ?></span></p>                 
						<div id="chart2"></div>
						<p class="sexy_percent"><strong style="color:#fff;"><span id="percent"><?php echo $random['sexymetro']; ?></span></strong></p>  
						<p class="sexy_percent_metro"><strong style="color:#5b9735;">Toking</strong><strong style="color:#d6260e;">Hot</strong></p> 
						<p><strong><span id="sexy_count"><?php echo $random['sexy']; ?></span></strong> <?php echo $lang['of']; ?> <strong><span id="total"><?php echo $random['total']; ?></span></strong> <?php echo $lang['people_say']; ?><br>
						<?php echo $lang['that']; ?> <strong><span id="name2"><?php echo $random['name']; ?></span></strong> <?php echo $lang['is_sexy']; ?></p>
								  
						<a href="#" id="login1"  class="btn btn-2 btn-2i " style="color:#fff; line-height:90px;"><?php echo $lang['yes']; ?></a>          
						<a href="#" id="login2"  class="btn btn-2 btn-2j " style="color:#fff; line-height:90px;"><?php echo $lang['no']; ?></a>                              
				  </div>        
				</div>
			  </div>
			</section>
			<div class="select_yes_or_no"><?php echo $lang['select_yes_or_no']; ?></div> 
			<?php echo getPage('footer/content'); ?>			
		</div><!-- /content-wrap -->
	</div><!-- /container -->
</div>

<script type="text/javascript" src="<?php echo $sm['config']['theme_url']; ?>/js/jquery-2.1.1.min.js"></script> <!-- JQUERY -->  
<script type="text/javascript" src="<?php echo $sm['config']['theme_url']; ?>/js/circle-progress.js"></script>  <!-- CIRCLE CHART FOR SEXYMETRO-->
<script src="<?php echo $sm['config']['theme_url']; ?>/js/modernizr.custom.js"></script> 
<script type="text/javascript" src="<?php echo $sm['config']['theme_url']; ?>/js/jquery.sky.carousel-1.0.2.min.js"></script>
<script src="<?php echo $sm['config']['theme_url']; ?>/js/galleria-1.4.2.min.js"></script> <!-- USER GALLERY -->
<script src="<?php echo $sm['config']['theme_url']; ?>/js/classie.js"></script> <!-- POP UP NOTIFICATION -->
<script src="<?php echo $sm['config']['theme_url']; ?>/js/notificationFx.js"></script> <!-- POP UP NOTIFICATION --> 
<script src="<?php echo $sm['config']['theme_url']; ?>/js/sweet-alert.js"></script> 
<script src="<?php echo $sm['config']['theme_url']; ?>/js/scripts.min.js"></script>
<script type="text/javascript" src="<?php echo $sm['config']['theme_url']; ?>/js/sweet-tooltip.js"></script>	
<script>
<!-- CHART -->	
$('#chart2').circleProgress({
	value: 0.<?php echo $random['percent']; ?>,
	startAngle: -Math.PI / 4 * 2,
	size: 180,
	thickness: 'auto',
	fill: {
	  gradient: ['#f8ec25', '#ed2e2e']
	},				
});

<!-- GALLERIA -->  
Galleria.loadTheme('<?php echo $sm['config']['theme_url']; ?>/galleria/galleria.classic.min.js');
Galleria.run('#galleria',{
				autoplay: true,
				transition: 'fade'
			});
Galleria.ready(function(options){
	this.attachKeyboard({
		left: this.prev,
		right: this.next
	});
});	

$("#login1").click(function(e) {
	e.preventDefault();
	swal({
		title: "<?php echo $lang['preview_ups']; ?>",
		text: "<?php echo $lang['preview_ups_text']; ?>",
		type: "info",
		showCancelButton: true,
		confirmButtonColor: '#da0038',
		confirmButtonText: '<?php echo $lang['preview_btn_acc']; ?>',
		cancelButtonText: "<?php echo $lang['preview_btn_login']; ?>",
		closeOnConfirm: false,
		closeOnCancel: false
	},
	function(isConfirm){
		if (isConfirm){
			window.location='<?php echo $sm['config']['site_url']; ?>/index.php?page=account';
		} else {
			window.location='<?php echo $sm['config']['site_url']; ?>/index.php?page=login';
		}
	})
});

$("#login2").click(function(e) {
	e.preventDefault();
	swal({
		title: "<?php echo $lang['preview_ups']; ?>",
		text: "<?php echo $lang['preview_ups_text']; ?>",
		type: "info",
		showCancelButton: true,
		confirmButtonColor: '#da0038',
		confirmButtonText: '<?php echo $lang['preview_btn_acc']; ?>',
		cancelButtonText: "<?php echo $lang['preview_btn_login']; ?>",
		closeOnConfirm: false,
		closeOnCancel: false
	},
	function(isConfirm){
		if (isConfirm){
			window.location='<?php echo $sm['config']['site_url']; ?>/index.php?page=account';
		} else {
			window.location='<?php echo $sm['config']['site_url']; ?>/index.php?page=login';
		}
	})
});

//REDIRECT IF IS MOBILE USER
var w = window,
	d = document,
	e = d.documentElement,
	g = d.getElementsByTagName('body')[0],
	x = w.innerWidth || e.clientWidth || g.clientWidth,
	y = w.innerHeight|| e.clientHeight|| g.clientHeight;
	var isiPhone = 		navigator.userAgent.toLowerCase().indexOf("iphone");
	var isiPad = 		navigator.userAgent.toLowerCase().indexOf("ipad");
	var isiPod = 		navigator.userAgent.toLowerCase().indexOf("ipod");
	var isiAndroid = 	navigator.userAgent.toLowerCase().indexOf("android");
	
	if(isiPhone > -1 || isiPad > -1 || isiPod > -1 || isiAndroid > -1){
		window.location='mobile.php?page=preview';	
	}
	if(x <= 1000){
		window.location='mobile.php?page=preview';	
	}
	
$(document).ready(function () {	
	$("#galleria").fadeIn("slow");							
});		
</script>
</body>
</html>	
