<div class="content_sexy">

    <div class="content-wrap">
    <div class="content bg1" style="background:#222;">
    
      <div class="container no-padding">
         <div class="row no-padding ">    
            <div class="menuzord">
                    <a href="<?php echo smoothLink('index.php?page=game'); ?>" class="logo"><img src="<?php echo $sm['config']['theme_url']; ?>/img/logo.png" width="290"></a>
                    <ul class="menuzord-menu">
                    <li ><a href="<?php echo smoothLink('index.php?page=game'); ?>" id="buscar"><i class="fa fa-star"></i> Sexy</a></li>
                    <li class="active"><a href="<?php echo smoothLink('index.php?page=meet'); ?>"><i class="fa fa-globe"></i> Meet</a></li>   
                    <li ><a href="<?php echo smoothLink('index.php?page=chat'); ?>" id="mensajes_nuevos_icon" > <i class="fa fa-comment-o" ></i> Chat 
                    <span id="mensajes_nuevos"></span></a></li>
                    <li ><a href="<?php echo smoothLink('index.php?page=crushes'); ?>" id="likes_nuevos_icon"> <i class="fa fa-heart-o" ></i> Crushes 
                    <span id="likes_nuevos"></span></a></li>
                    <li ><a href="<?php echo smoothLink('index.php?page=settings'); ?>"><i class="fa fa-cog"></i> Settings</a></li>
                    </ul>
            </div>
        </div>
     </div>


<div class="select_yes_or_no" style="background-color:#f5f5f5; color:#333333;">
    <form id="meet_form" class="nl-form" method="post" action="">
        I wanna meet
        <select  name="filter_looking"  id="filter_looking" >
       <?php if($sm['user']['looking'] == 1){?> 
            <option value="0" >girls</option>
            <option value="1" selected>boys</option>
            <option value="2">both</option>
        </select>
       <?php } else {?>
            <option value="0" selected>girls</option>
            <option value="1">boys</option>
            <option value="2">both</option>
        </select>       
       <?php }?>                
        who are between
        <select name="filter_age" id="filter_age" >
            <option value="1" selected>18 and 23</option>
            <option value="2" >24 and 30</option>
            <option value="3">31 and 40</option>
            <option value="4">41 and 60</option>
        </select>
        years and are 
        <select name="filter_status" id="filter_status" >
            <option value="1" >online</option>
            <option value="2" selected>offline</option>
        </select> 
        <input type="hidden" style="display:none;" value="0" name="page">
        now &nbsp;<button type="submit" id="meet_submit" >	<i class="fa fa-search " style="font-size:1.2em; color:#d90038;" ></i></button>        
        <div class="nl-overlay"></div>
    </form>
</div>             
<section class="author" style="background-color: #111;">
  <div class="container no-padding">

    <div class="row no-padding">        
 
		<div id="loader-wrapper">
		<i class="fa fa-globe" style="position:absolute; top:44%; color:#c32a51; left:43%; font-size:7.5em; "></i>
        <div id="loader"></div>
		</div> 
            
		<div class="col-md-12 text-center" id="results">
		</div>      
      </div>
  </div>
</section>

			</div><!-- /content-wrap -->
		</div><!-- /container -->


    <?php
    if ($sm['logged'] == true) {
        echo getPage('game/chat_panel');
		}
	?>
</div>