<!DOCTYPE html>
<html>
<head>
    <title><?php echo $sm['config']['site_title']; ?></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="<?php echo $sm['config']['theme_url']; ?>/css/styles.min.css" rel="stylesheet">
	<link href="<?php echo $sm['config']['theme_url']; ?>/css/main.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/menu_sideslide.css" />
	<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/ns-default.css" />
	<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/ns-style-other.css" />
	<?php
	if ($_GET['page'] == "add_photos" || $_GET['page'] == "crushes" || $_GET['page'] == "admin_photos") {
		echo'
		<link href="'.$sm['config']['theme_url'].'/css/quick-view.css" rel="stylesheet" media="screen" type="text/css"/>
		';	
	} else {
		echo'
		<link href="'.$sm['config']['theme_url'].'/css/quick-view-meet.css" rel="stylesheet" media="screen" type="text/css"/>
		';
	}
	?>	

	<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/menuzord.css">
	<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/menuzord-dark.css">    
	<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/component.css" />
	<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/sweet-alert.css">
	<link rel="stylesheet" type="text/css" href="<?php echo $sm['config']['theme_url']; ?>/css/sweet-tooltip.css">
	<link href="<?php echo $sm['config']['theme_url']; ?>/emoticons/emoticons.css" rel="stylesheet" type="text/css"/>		
	<link rel="stylesheet" href="<?php echo $sm['config']['theme_url']; ?>/css/hint.css">
	<link href="<?php echo $sm['config']['theme_url']; ?>/css/owl.carousel.css" rel="stylesheet">
	<link href="<?php echo $sm['config']['theme_url']; ?>/css/owl.theme.css" rel="stylesheet">	
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css">
    <?php
        echo '<script>
    function request_source(){
        return \'' . $sm['config']['ajax_path'] . '\';
    }
    function site_title(){
        return \'' . $sm['config']['site_title'] . '\';
    }	
    function theme_source(){
        return \'' . $sm['config']['theme_url'] . '\';
    }	
</script>';
    ?>
	
</head>
<body>
<?php echo $sm['content'];

if ($sm['logged'] == true) { ?>	
<script type="text/javascript" src="<?php echo $sm['config']['theme_url']; ?>/js/jquery-2.1.1.min.js"></script> <!-- JQUERY -->
<?php if ($_GET['page'] == "meet") { ?>
<script type="text/javascript" src="<?php echo $sm['config']['theme_url']; ?>/js/circle-progress-meet.js"></script> 
<? } else { ?>
<script type="text/javascript" src="<?php echo $sm['config']['theme_url']; ?>/js/circle-progress.js"></script>  <!-- CIRCLE CHART FOR SEXYMETRO-->
<? } ?>
<script type="text/javascript" src="<?php echo $sm['config']['theme_url']; ?>/js/emoticons.js"></script>
<script src="<?php echo $sm['config']['theme_url']; ?>/js/modernizr.custom.js"></script> 
<script type="text/javascript" src="<?php echo $sm['config']['theme_url']; ?>/js/jquery.sky.carousel-1.0.2.min.js"></script>
<script src="<?php echo $sm['config']['theme_url']; ?>/js/galleria-1.4.2.min.js"></script> <!-- USER GALLERY -->
<script src="<?php echo $sm['config']['theme_url']; ?>/js/classie.js"></script> <!-- POP UP NOTIFICATION -->
<script src="<?php echo $sm['config']['theme_url']; ?>/js/notificationFx.js"></script> <!-- POP UP NOTIFICATION --> 
<script src="<?php echo $sm['config']['theme_url']; ?>/js/sweet-alert.js"></script> 
<script src="<?php echo $sm['config']['theme_url']; ?>/js/nlform.js"></script>
<script src="<?php echo $sm['config']['theme_url']; ?>/js/scripts.min.js"></script>
<script type="text/javascript" src="<?php echo $sm['config']['theme_url']; ?>/js/sweet-tooltip.js"></script>
<script type="text/javascript" src="<?php echo $sm['config']['theme_url']; ?>/js/jquery.quick-view.js"></script>
<script type="text/javascript" src="<?php echo $sm['config']['theme_url']; ?>/js/jquery.form.min.js"></script>		
<script type="text/javascript" src="<?php echo $sm['config']['theme_url']; ?>/js/custom.js"></script> <!-- CUSTOM FUNCTIONS --> 
<?php 
if ($_GET['page'] == "settings") {
	echo'
	<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
	<script src="'.$sm['config']['theme_url'].'/js/formmapper.js"></script>			
	<script>geo();</script>
	';	
}
if ($_GET['page'] == "profile") {
	echo'
	<script src="'.$sm['config']['theme_url'].'/js/owl.carousel.js"></script>	
	<script>
	Galleria.run("#galleria",{
						autoplay: true,
						transition: "fade"
					});
	Galleria.ready(function(options){
				this.attachKeyboard({
					left: this.prev,
					right: this.next
				});
		});				
	profile_sexymetro("0.'.$sm["profile"]["percent"].'",'.$sm["profile"]["gender"].');			
	<!-- CAROUSEL -->   
	$(document).ready(function() {

	var owl = $("#carousel");
	owl.owlCarousel({
			items : 6,
			lazyLoad : true,
		loop:true,
		autoWidth:true,
		autoPlay : 2000,
		stopOnHover : true,
		itemsScaleUp:true ,
		pagination: false,
		
		  });

	});
	</script>
	';	
}		
?>		
<script>
detect_device();
Galleria.loadTheme('<?php echo $sm['config']['theme_url']; ?>/galleria/galleria.classic.min.js');
my_sexymetro('0.<?php echo $sm['user']['percent']; ?>'); <!-- MY SEXYMETRO -->  
<?
if ($_GET['page'] == "game") {
	echo 'game_start('.$sm['user']['id'].');';
}
if ($_GET['page'] == "meet") {
	echo'
	var nlform = new NLForm( document.getElementById( "meet_form" ) );
	$(document).ready(function () {	
	$("#meet_submit").trigger("click");
	$("#loader-wrapper").fadeOut("slow");							
	jQuery("*[data-plugin*=quickView]").quickView();
	});
	$("[id^=sexymetro]").circleProgress({
	value: 0,
	startAngle: -Math.PI / 4 * 2,
	size: 40,
	thickness: "auto",
	fill: {
	  gradient: ["#f8ec25", "#ed2e2e"]
	}
	});
	';
}
if ($_GET['page'] == "chat") {
	echo'
	message_history();
	message_chat();
	';	
}
if ($_GET['page'] == "add_photos" || $_GET['page'] == "admin_photos") {
	echo'
	$(document).ready(function () {	
		$("#loader-wrapper").fadeOut("slow");			
	});
	';	
}		
?>
notification();
messages_likes();
</script>
<div style="display:none;"><audio id="noti_audio" src="<?php echo $sm['config']['theme_url']; ?>/sounds/notification.mp3" preload="auto"></audio></div>
<div id="notification"></div> 

<?php } else {?>
<script>
//REDIRECT IF IS MOBILE USER
var w = window,
d = document,
e = d.documentElement,
g = d.getElementsByTagName('body')[0],
x = w.innerWidth || e.clientWidth || g.clientWidth,
y = w.innerHeight|| e.clientHeight|| g.clientHeight;
var isiPhone = 		navigator.userAgent.toLowerCase().indexOf("iphone");
var isiPad = 		navigator.userAgent.toLowerCase().indexOf("ipad");
var isiPod = 		navigator.userAgent.toLowerCase().indexOf("ipod");
var isiAndroid = 	navigator.userAgent.toLowerCase().indexOf("android");
if(isiPhone > -1 || isiPad > -1 || isiPod > -1 || isiAndroid > -1)
	{
	window.location='mobile.php?page=game';	
	}
if(x <= 1000)
	{
	window.location='mobile.php?page=game';	
	}			
</script>
<?php } ?>	
</body>
</html>